<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/goc/css/jquery.modal.css" />
    <link rel="stylesheet" type="text/css" href="/goc/css/style.css" />
    <script src="/goc/js/jquery.min.js"></script>
    <script src="/goc/js/jquery.modal.js"></script>
    <script th:inline="javascript">
    /*<![CDATA[*/
        var applang = [[${applang}]];
    /*]]>*/
    </script>
  </head>
  <body>
    <div class="content">
      <div class="header">
        <img class="logo" src="#" th:src="${logo}" />
        <h1>Gestión de órganos colegiados</h1>
        <div class="topmenu">
          <ul>
            <li><a href="?lang=ca">Valencià</a></li>
            <li><a href="?lang=es">Español</a></li>
          </ul>
        </div>
      </div>

      <h1>Lista de acuerdos de los órganos colegiados</h1>

      <form action="/goc/rest/publicacion/acuerdos" method="GET">
        <table border="0" cellpadding="2" cellspacing="2">
          <tr>
            <td><strong>Tipos de órgano:</strong></td>
            <td>
              <select name="tipoOrganoId" onchange="this.form.submit()">
                <option value="">-- Tipos de órgano --</option>
                <option th:each="tipoOrgano : ${tiposOrganos}" th:selected="${tipoOrganoId == tipoOrgano.id}" th:value="${tipoOrgano.id}" th:text="${tipoOrgano.nombre}">Tipo de organo</option>
              </select>
            </td>
          </tr>

          <tr>
            <td><strong>Órganos:</strong></td>
            <td>
              <select name="organoId" onchange="this.form.submit()">
                <option value="">-- Órganos --</option>
                <option th:each="organo : ${organos}" th:selected="${organoId == organo.id}" th:value="${organo.id}" th:text="${organo.nombre}">Òrgano</option>
              </select>
            </td>
          </tr>
        </table>

        <div>
          <div th:each="reunion : ${reuniones}" class="reunion">
            <h2 th:text="${reunion.asunto}">Asunto</h2>

            <div>
              <strong>Fecha:</strong>
              <span th:text="${#dates.format(reunion.fecha,'dd/MM/yyyy HH:mm')}">Fecha</span>
            </div>

            <div>
              <strong>Duración:</strong>
              <span th:text="${reunion.duracion + ' minuts'}">Fecha</span>
            </div>

            <div>
              <strong>Acuerdos generales:</strong>
              <span th:text="${reunion.acuerdos}">Acords</span>
            </div>

            <blockquote th:each="puntoDia : ${reunion.reunionPuntosOrdenDia}" class="punto-del-dia">
              <div th:if="${puntoDia.publico}" th:remove="tag">
                <h3 th:text="${puntoDia.titulo}"></h3>
                <div th:text="${puntoDia.acuerdos}"></div>
              </div>
            </blockquote>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
