<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <div th:substituteby="head-es" />
  <body>
    <div class="off-canvas-content" data-off-canvas-content="data-off-canvas-content">
      <div th:substituteby="header-es" />
    </div>  
    <main class="columns">
      <div class="row columns">
        <h1 class="title">Lista de acuerdos de los órganos colegiados</h1>
      </div>
      <form name="form-busqueda" action="/goc/rest/publicacion/acuerdos" method="GET">
        <input type="hidden" name="lang" th:value="${lang}" />
        <input type="hidden" name="pagina" th:value="${pagina}" />
        <div class="row">
          <div class="medium-6 large-6 columns">
            <label>Texto:
              <input type="text" name="texto" placeholder="Buscar en el texto" th:value="${texto}" />
            </label>
          </div>
          <div class="medium-1 large-1 columns">
            <label>Años:
              <select name="anyo" onchange="this.form.submit()">
                <option value=""></option>
                <option th:each="anyoCalculated : ${anyos}" th:selected="${anyo == anyoCalculated}" th:value="${anyoCalculated}" th:text="${anyoCalculated}">Any</option>
              </select>
            </label> 
          </div>  
          <div class="medium-2 large-2 columns">
            <label>Fechas:
              <input name="fInicio" th:value="${fInicio}" placeholder="De la fecha" />
            </label>
          </div>
          <div class="medium-2 large-2 columns">
            <label>&nbsp;
              <input name="fFin" th:value="${fFin}" placeholder="Hasta la fecha" />
            </label>
          </div>
          <div class="medium-1 large-1 columns">
          </div>  
        </div>
        <div class="row">
          <div class="medium-5 large-5 columns">  
            <label>Tipos de órganos:
              <select name="tipoOrganoId" onchange="document['form-busqueda'].organoId.value=''; this.form.submit();">
                <option value=""></option>
                  <option th:each="tipoOrgano : ${tiposOrganos}" th:selected="${tipoOrganoId == tipoOrgano.id}" th:value="${tipoOrgano.id}" th:text="${tipoOrgano.nombre}">Tipo de organo</option>
              </select>
            </label>
          </div>  
          <div class="medium-6 large-6 columns">  
            <label>Órganos:
              <select name="organoId" onchange="this.form.submit();">
                <option value=""></option>
                <option th:each="organo : ${organos}" th:selected="${organoId == organo.id}" th:value="${organo.id}" th:text="${organo.nombre}">Òrgano</option>
              </select>
            </label>
          </div>  
          <div class="medium-1 large-1 columns">  
          </div>
        </div>
        <div class="row">
          <div class="medium-5 large-5 columns">
            <label>Descriptores:
              <select name="descriptorId" onchange="document['form-busqueda'].claveId.value=''; this.form.submit();">
                <option value=""></option>
                <option th:each="desc : ${descriptores}" th:selected="${descriptorId == desc.id}" th:value="${desc.id}" th:text="${desc.descriptor}">Descriptor</option>
              </select>
            </label> 
          </div>
          <div class="medium-6 large-6 columns">
            <label>Claves:
              <select name="claveId" onchange="this.form.submit();">
                <option value=""></option>
                <option th:each="clave : ${claves}" th:selected="${claveId == clave.id}" th:value="${clave.id}" th:text="${clave.clave}">Clau</option>
              </select>
            </label> 
          </div>
          <div class="medium-1 large-1 columns">  
            <label>&nbsp;
              <button class="button float-right" type="submit">Filtrar</button>
            </label> 
          </div>
        </div>
      </form>
      <ul class="contentList row columns">
        <li th:each="reunion : ${reuniones}" class="reunion">
          <div class="reunion-titulo" th:text="${reunion.asunto}">Asunto</div>
          <div class="collapsible collapsed">
            <blockquote>
              <div style="display: inline-block;">
                <strong>Fecha:</strong>
                <span th:text="${#dates.format(reunion.fecha,'dd/MM/yyyy HH:mm')}">Fecha</span>
              </div>
              <div style="display: inline;">
                <strong>Duración:</strong>
                <span th:text="${reunion.duracion + ' minuts'}">Fecha</span>
              </div>
              <div th:if="${reunion.acuerdos}">
                <span th:text="${#strings.replace(reunion.acuerdos,'\n','&lt;br&gt;')}">Acords</span>
              </div>
              <div>
                <strong>Puntos del orden del día:</strong>
              </div>  
              <fieldset class="fieldset" th:each="puntoDia : ${reunion.puntosOrdenDia}" th:if="${puntoDia.publico}">
                <legend th:text="${puntoDia.titulo}"></legend>
                <div th:if="${puntoDia.acuerdos}" th:utext="${#strings.replace(puntoDia.acuerdos,'\n','&lt;br&gt;')}"></div>
                <a th:if="${puntoDia.urlActa}" th:href="${puntoDia.urlActa}">Certificado</a>
              </fieldset>
            </blockquote>
          </div>
        </li>
      </ul>
      <ul class="pagination text-center" role="navigation" aria-label="Pagination">
        <li th:class="${'pagination-previous ' + (hasPrevPage ? '' : 'disabled')}">
          <a th:if="${hasPrevPage}" class="prevPage" href="#" aria-label="Previous page">Anterior</a>
          <span th:unless="${hasPrevPage}">Anterior</span>
        </li>
        <li th:class="${'pagination-next ' + (hasNextPage ? '' : 'disabled')}">
          <a th:if="${hasNextPage}" class="nextPage" href="#" aria-label="Next page">Siguiente</a>
          <span th:unless="${hasNextPage}">Siguiente</span>
        </li>
      </ul>

    </main>
    
    <script src="/goc/js/acuerdos.js"></script>
  </body>
</html>
