<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ca" lang="ca" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div>
    <h2 th:text="${reunion.asunto}">Assumpte</h2>
    <span>Comentari afegit al punt: </span>
    <h3 th:text="${tituloPunto}">Punt</h3>
</div>

<div>
    <strong>Nou comentari de <span th:text="${creadorNombre}">Nom</span>:</strong> <span th:text="${comentario}">Comentari</span>
</div>

<br/>
<br/>

<div th:if="${reunion.numeroSesion != null}">
    <strong>Número de la sessió:</strong><span th:text="${reunion.numeroSesion}">Descripció</span>
</div>

<div th:if="${reunion.descripcion != null}">
    <strong>Descripció: </strong><span th:utext="${#strings.replace(reunion.descripcion,'\n','&lt;br&gt;')}">Descripció</span>
</div>

<div th:if="${reunion.fechaSegundaConvocatoria == null}">
    <strong>Data i hora: </strong><span th:text="${#dates.format(reunion.fecha, 'dd-MM-yyyy H:mm')}">Data i hora</span>
</div>

<div th:if="${reunion.fechaSegundaConvocatoria != null}">
    <strong>Primera convocatòria: </strong> <span th:text="${#dates.format(reunion.fecha, 'dd-MM-yyyy H:mm')}"></span>
</div>
<div th:if="${reunion.fechaSegundaConvocatoria != null}">
    <strong>Segona convocatòria: </strong> <span
        th:text="${#dates.format(reunion.fechaSegundaConvocatoria, 'dd-MM-yyyy H:mm')}"></span>
</div>

<div th:if="${reunion.ubicacion != null}">
    <strong>Ubicació: </strong> <span th:text="${reunion.ubicacion}">Ubicació</span>
</div>

<div th:if="${reunion.duracion != null and reunion.duracion > 0}">
    <strong>Duració: </strong>
    <span th:if="${reunion.duracion <= 480}" th:utext="${reunion.duracion} + ' minuts'">valor</span>
    <span th:if="${reunion.duracion > 480}">Més de 8 hores</span>
</div>

<div>
    Per a més informació, podeu consultar el detall de la reunió a
    <a th:attr="href=${appContext + '/rest/publicacion/reuniones/' + reunion.id}">
        <span th:text="${publicUrl} + ${appContext} + '/rest/publicacion/reuniones/' + ${reunion.id}">Url reunió</span>
    </a>
</div>

<div th:include="email-common-pie-ca :: pie"></div>
</body>
</html>