<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div>
        <h2 th:text="${reunion.asunto}">Asunto</h2>
    </div>

    <div>
        La reunión prevista para el <span th:text="${diaSemanaFechaPrimeraConvocatoria}">Día</span> <span th:text="${#dates.format(reunion.fecha, 'dd-MM-yyyy H:mm')}">Fecha y hora</span> se ha anulado
    </div>

    <br/><br/>

    <br/><br/>

    <div th:if="${reunion.numeroSesion != null}">
        <strong>Número de la sessión: </strong><span th:text="${reunion.numeroSesion}">Descripción</span>
    </div>

    <div th:if="${reunion.descripcion != null}">
        <strong>Descripción: </strong><span th:text="${reunion.descripcion}">Descripción</span>
    </div>

    <div th:if="${reunion.fechaSegundaConvocatoria == null}">
        <strong>Fecha y hora: </strong> <span th:text="${diaSemanaFechaPrimeraConvocatoria}">Día</span> <span th:text="${#dates.format(reunion.fecha, 'dd-MM-yyyy H:mm')}">Fecha y hora</span>
    </div>

    <div th:if="${reunion.fechaSegundaConvocatoria != null}">
        <strong>Primera convocatoria: </strong> <span th:text="${diaSemanaFechaPrimeraConvocatoria}">Día</span> <span th:text="${#dates.format(reunion.fecha, 'dd-MM-yyyy H:mm')}"></span>
    </div>
    <div th:if="${reunion.fechaSegundaConvocatoria != null}">
        <strong>Segunda convocatoria: </strong> <span th:text="${diaSemanaFechaSegundaConvocatoria}">Día</span> <span
            th:text="${#dates.format(reunion.fechaSegundaConvocatoria, 'dd-MM-yyyy H:mm')}"></span>
    </div>

    <div th:if="${reunion.ubicacion != null}">
        <strong>Ubicación: </strong> <span th:text="${reunion.ubicacion}">Ubicación</span>
    </div>

    <div th:if="${reunion.duracion != null and reunion.duracion > 0}">
        <strong>Duración: </strong>
        <span th:if="${reunion.duracion <= 480}" th:utext="${reunion.duracion} + ' minutos'">valor</span>
        <span th:if="${reunion.duracion > 480}">Más de 8 horas</span>
    </div>

    <div th:include="email-common-pie-es :: pie"></div>
</body>
</html>