<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es" xmlns:th="http://www.thymeleaf.org">
<div th:substituteby="head-es" />
<body>
<div class="off-canvas-content" data-off-canvas-content="data-off-canvas-content">
    <div th:substituteby="header-es" />
</div>
<main class="columns reunion">
    <div class="row columns">
        <h1 th:text="'Error: ' + ${error}" class="title">Error</h1>
    </div>
</main>
</body>
</html>
