<header class="topHeader">
  <div class="row">
    <div class="medium-3 large-3 columns">
      <div>
        <img src="#" th:src="${logoPublic}" alt="logo" />
      </div>
    </div>
    <div class="medium-6 large-6 columns ">
      <div>
        <h1 class="title" th:utext="${appTitle}" />
      </div>
    </div>
    <div class="medium-3 large-3 columns">
      <div class="langMenu float-right">
        <ul class="menu" th:if="${alternativeLanguage and alternativeLanguage != ''}">
          <li>
            <a th:if="${applang != mainLanguage}" th:href="${'?lang=' + mainLanguage}" th:text="${mainLanguageDescription}">Español</a>
            <span class="disabled" th:if="${applang == mainLanguage}" th:text="${mainLanguageDescription}">Español</span>        
          </li>
          <li>
            <a th:if="${applang != alternativeLanguage and not #strings.isEmpty(alternativeLanguage)}" th:href="${'?lang=' + alternativeLanguage}" th:text="${alternativeLanguageDescription}">Valencià</a>
            <span class="disabled" th:if="${applang == alternativeLanguage}" th:text="${alternativeLanguageDescription}">Valencià</span>        
          </li>
        </ul>
      </div>
    </div>
  </div>
  <nav class="gray-menu-bar">
    <div class="row columns">
      <ul class="menu">
        <li>
          <a th:if="${alternativeLanguage and alternativeLanguage != ''}" th:href="${appContext} + '/rest/publicacion/acuerdos?lang=ca'">Cercador d'acords</a>
          <a th:unless="${alternativeLanguage and alternativeLanguage != ''}" th:href="${appContext} + '/rest/publicacion/acuerdos'">Cercador d'acords</a>
        </li>
        <li>
          <a th:if="${alternativeLanguage and alternativeLanguage != ''}" th:href="${appContext} + '/rest/publicacion/reuniones?lang=ca'">Les meves reunions</a>
          <a th:unless="${alternativeLanguage and alternativeLanguage != ''}" th:href="${appContext} + '/rest/publicacion/reuniones'">Les meves reunions</a>
        </li>
      </ul>
    </div>
  </nav>
</header>


<div class="alert-feed" style="display: none;">
  <input type="hidden" name="url-ics" id="input-url-ics"/>
  <div>
    <p>El meu calendari</p>
    <p><small>Pots afegir el calendari de reunions al teu calendari de google o descarregar l'arxiu .ics per importar-lo al teu gestor de calendaris.</small></p>
  </div>
  <br/>
  <div style="text-align: center;">
    <a href="#" onclick="copiarIcs(this)" id="enlace-copia-url-ics" data-url-ics="">Afegir a google calendar</a> | <a href="#" onclick="descargarIcs(this)" id="enlace-descarga-ics" data-url-ics="">Descarregar .ics</a>
  </div>
</div>

<div class="form-ausencia" id="form-ausencia" style="display: none;">
  <div>
    <span><strong>Justificació</strong></span>
  </div>
  <div>
    <textarea name="motivo-ausencia" id="motivo-ausencia" rows="10" cols="50" placeholder="Motiu de l'absència"></textarea>
    <button class="button" name="confirmar-ausencia">Enviar</button>
  </div>
</div>