<head>
  <meta th:charset="${charset}" />
  <title>Gestión de órganos colegiados</title>
  <link rel="stylesheet" type="text/css" href="/goc/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/goc/css/jquery.modal.css" />
  <link rel="stylesheet" type="text/css" href="/goc/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="/goc/css/jquery-ui.min.css" />
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/foundation/6.4.1/css/foundation-float.min.css" />
  <link th:if="${customCSS != ''}" rel="stylesheet" type="text/css" th:href="${customCSS}" />

  <script src="/goc/js/jquery.min.js"></script>
  <script src="/goc/js/jquery.modal.js"></script>
  <script src="/goc/js/jquery-ui.min.js"></script>
  <script th:src="${'/goc/js/datepicker-' + applang + '.js'}" src="/goc/js/datepicker-es.js"></script>
  <script th:inline="javascript">
  /*<![CDATA[*/
      var applang = [[${applang}]];
  /*]]>*/
  </script>
</head>