<head>
  <meta th:charset="${charset}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:utext="${appTitle}" />
  <link rel="stylesheet" type="text/css" th:attr="href=${appContext} + '/css/style.css'" />
  <link rel="stylesheet" type="text/css" th:attr="href=${appContext} + '/css/jquery.modal.css'" />
  <link rel="stylesheet" type="text/css" th:attr="href=${appContext} + '/css/font-awesome.min.css'" />
  <link rel="stylesheet" type="text/css" th:attr="href=${appContext} + '/css/jquery-ui.min.css'" />
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/foundation/6.4.1/css/foundation-float.min.css" />
  <link th:if="${customCSS != ''}" rel="stylesheet" type="text/css" th:href="${customCSS}" />

  <script th:attr="src=${appContext} + '/js/jquery.min.js'"></script>
  <script th:attr="src=${appContext} + '/js/jquery.modal.js'"></script>
  <script th:attr="src=${appContext} + '/js/jquery-ui.min.js'"></script>
  <script th:src="${appContext + '/app/i18n/' + applang + '.js'}"></script>
  <script th:src="${appContext + '/js/datepicker-' + applang + '.js'}"></script>
  <script th:inline="javascript">
  /*<![CDATA[*/
      var applang = [[${applang}]];
      var connectedUserId = [[${connectedUserId}]];
      var appContext = [[${appContext}]];
  /*]]>*/
  </script>

  <script>
      function verEnlaceCalendario() {
          var url = appContext + "/rest/calendario";
          $.ajax({
              type: "PUT",
              url: url,
              processData: false,
              cache: false,
              timeout: 600000,
              success: function (data) {
                  $('#enlace-descarga-ics').data("url-ics", data);
                  $('#enlace-copia-url-ics').data("url-ics", data);
                  $('#input-url-ics').val(data);
                  $('.alert-feed').modal({
                      clickClose: false
                  });
                  $('.close-modal').on('click', function () {
                      $('#enlace-copiado').hide();
                  });
              },
              error: function (e) {
                  alert(e.responseText);

              }
          });
      }

      function descargarIcs(element) {
          var url = $(element).data("url-ics");
          window.open(url + '?applang=' + applang);
      }

      function copiarIcs(element) {
          var input = document.getElementById("input-url-ics");
          window.open('https://www.google.com/calendar/render?cid=' + input.value);
      }
  </script>
</head>