<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ca" lang="ca" xmlns:th="http://www.thymeleaf.org">
  <div th:substituteby="head-ca" />
  <body>
    <div class="off-canvas-content" data-off-canvas-content="data-off-canvas-content">
      <div th:substituteby="header-ca" />
    </div> 
    <main class="columns">
      <div class="row columns">
        <button class="button tiny" style="margin-left: 3em; ; float: right" onclick="verEnlaceCalendario()">Exporta el meu calendari</button>
      </div>
      <div class="row columns">
        <h1 class="title">Llistat de reunions</h1>
      </div>  
      <ul class="lista-reuniones contentList row columns">
        <li th:each="reunion : ${reuniones}">
          <div style="display: block" class="reunion-titulo" th:text="${reunion.asunto}"></div>
          <div style="display: inline" th:text="${#dates.format(reunion.fecha, 'dd/MM/yyyy HH:mm')}"></div>
          <div style="display: inline">
            <span class="separador">&nbsp;</span>
            <span class="documentacion"><a th:aria-label="${'Documentació de la reunió: ' + reunion.asunto}" th:href="${appContext} + '/rest/publicacion/reuniones/' + ${reunion.id} + '?lang=' + ${applang}">Documentació</a></span>
            <span class="separador">|</span>
            <span>
              <a th:aria-label="${'Acta de la reunió: ' + reunion.asunto}" th:if="${reunion.urlActa} and ${reunion.completada == true}" th:href="${reunion.urlActa}">Acta</a>
              <span th:if="${reunion.completada != true}" data-tooltip="data-tooltip" class="has-tip link-desactivado" title="Acta no disponible fins que finalitze la reunió">Acta</span>
            </span>
            <span class="separador" th:if="${mostrarEnlaceCertificados == true}"> | </span>
            <span>
              <a th:aria-label="${'Certificat d\'acords de la reunió: ' + reunion.asunto}" th:if="${reunion.completada == true} and ${mostrarEnlaceCertificados == true}" th:href="${appContext} + '/rest/publicacion/reuniones/' + ${reunion.id} + '/acuerdos' + '?lang=' + ${applang}">Certificats d'acords dels punts de l'ordre del dia</a>
              <span th:if="${reunion.completada != true} and ${mostrarEnlaceCertificados == true}" data-tooltip="data-tooltip" class="has-tip link-desactivado" title="Certificat no disponible fins que finalitze la reunió">Certificats d'acords dels punts de l'ordre del dia</span>
            </span>
            <span class="separador" th:if="${reunion.asistente == true} and ${reunion.completada == true} and ${mostrarEnlaceCertificados == true}"> | </span>
            <span>
               <a th:aria-label="${'Certificat d\'assistencia de la reunió: ' + reunion.asunto}" th:if="${reunion.urlAsistencia} and ${reunion.completada == true} and ${reunion.asistente == true} and ${mostrarEnlaceCertificados == true}" th:href="${reunion.urlAsistencia}">Certificat d'assistència</a>
              <span th:if="${reunion.completada != true} and ${reunion.asistente} and ${mostrarEnlaceCertificados == true}" data-tooltip="data-tooltip" class="has-tip link-desactivado" title="Certificat no disponible fins que finalitze la reunió">Certificat d'assistència</span>
            </span>
            <hr />
          </div>
        </li>
      </ul>
    </main>
  </body>
</html>
