<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta th:charset="${charset}" />
    <link rel="stylesheet" type="text/css" href="/goc/css/jquery.modal.css" />
    <link rel="stylesheet" type="text/css" href="/goc/css/style.css" />
    <link th:if="${customCSS != ''}" rel="stylesheet" type="text/css" th:href="${customCSS}" />

    <script src="/goc/js/jquery.min.js"></script>
    <script src="/goc/js/jquery.modal.js"></script>
    <script th:inline="javascript">
    /*<![CDATA[*/
        var applang = [[${applang}]];
    /*]]>*/
    </script>
  </head>
  <body>
    <div class="content">
      <div class="header">
        <img class="logo" src="#" th:src="${logo}" />
        <div class="h1"><h1>Gestión de Órganos colegiados</h1></div>
        <div class="topmenu">
          <ul th:if="${alternativeLanguage and alternativeLanguage != ''}">
            <li><a th:href="${'?lang=' + mainLanguage}" th:text="${mainLanguageDescription}">Español</a></li>
            <li><a th:href="${'?lang=' + alternativeLanguage}" th:text="${alternativeLanguageDescription}">Valencià</a></li>
          </ul>
        </div>
      </div>
      <div class="list">
        <h1>Listado de reuniones</h1>
        <ul>
          <li th:each="reunion : ${reuniones}">
            <strong th:text="${#dates.format(reunion.fecha, 'dd/MM/YYYY HH:mm')}"></strong>
            <span class="titulo" th:text="${reunion.asunto}"></span>
            <span class="separador">(</span><span class="documentacion"><a th:href="'/goc/rest/publicacion/reuniones/' + ${reunion.id} + '?lang=' + ${applang}">Documentación</a></span> <span class="separador">|</span>
             <span class="acta"><a th:href="'/goc/rest/actas/' + ${reunion.id} + '?lang=' + ${applang}">Acta</a></span><span class="separador" th:if="${reunion.completada and reunion.comoAsistente}"> | </span>
             <span class="certificado"><a th:if="${reunion.completada and reunion.comoAsistente}" th:href="'/goc/rest/reuniones/' + ${reunion.id} + '/asistencia' + '?lang=' + ${applang}">Certificado de asistencia</a></span><span class="separador">)</span>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
