<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <div th:substituteby="head-ca" />
  <body>
    <div class="off-canvas-content" data-off-canvas-content="data-off-canvas-content">
      <div th:substituteby="header-ca" />
    </div>
    <main class="columns reunion">
      <div class="row columns">
        <h1 th:text="'Reunió: ' + ${reunion.asunto}" class="title">title</h1>
      </div>
      <div class="row columns">
        <h3 class="title" >Informació bàsica</h3>      
      </div>
      <ul class="contentList detalle row columns">
        <li th:unless="${reunion.fechaSegundaConvocatoria}">
          <div class="tag"><strong>Data:</strong></div>
          <div class="value" th:utext="${#dates.format(reunion.fecha, 'dd/MM/YYYY HH:mm')}">valor</div>
        </li>
        <li th:if="${reunion.fechaSegundaConvocatoria}">
          <div class="tag"><strong>Primera convocatòria:</strong></div>
          <div class="value" th:utext="${#dates.format(reunion.fecha, 'dd/MM/YYYY HH:mm')}">valor</div>
        </li>
        <li th:if="${reunion.fechaSegundaConvocatoria}">
          <div class="tag"><strong>Segona convocatòria:</strong></div>
          <div class="value" th:utext="${#dates.format(reunion.fechaSegundaConvocatoria, 'dd/MM/YYYY HH:mm')}">valor</div>
        </li>
        <li th:if="${reunion.responsableActa}">
          <div class="tag"><strong>Responsable d'acta:</strong></div>
          <div class="value" th:utext="${reunion.responsableActa}">valor</div>
        </li>
        <li th:if="${reunion.numeroSesion} != null">
          <div class="tag"><strong>Número de sessió:</strong></div>
          <div class="value" th:utext="${reunion.numeroSesion}">valor</div>
        </li>
        <li th:if="${reunion.ubicacion}">
          <div class="tag"><strong>Lloc:</strong></div>
          <div class="value" th:utext="${reunion.ubicacion}">valor</div>
        </li>
        <li th:if="${reunion.duracion and reunion.duracion > 0}">
          <div class="tag"><strong>Duració:</strong></div>
          <div class="value" th:utext="${reunion.duracion} + ' minuts'">valor</div>
        </li>
        <li th:if="${reunion.descripcion}">
          <div class="tag"><strong>Descripció:</strong></div>
          <div class="value" th:utext="${#strings.replace(reunion.descripcion,'\n','&lt;br&gt;')}">valor</div>
        </li>
        <li th:if="${reunion.acuerdos != null}">
          <div class="tag"><strong>Acords generals:</strong></div>
          <div class="value" th:utext="${#strings.replace(reunion.acuerdos,'\n','&lt;br&gt;')}">valor</div>
        </li>
        <li th:if="${reunion.urlGrabacion != null}">
          <div class="tag"><strong>URL gravació:</strong></div>
          <div class="value"><a th:href="${reunion.urlGrabacion}" th:text="${reunion.urlGrabacion}"></a></div>
        </li>
        <li th:if="${reunion.telematica}">
          <div class="tag"><strong>Reunió telemàtica Instruccions:</strong></div>
          <div class="value" th:utext="${reunion.telematicaDescripcion}">valor</div>
        </li>
        <li th:if="${reunion.publica}" class="item-publico"><i class="fa fa-eye"></i> <span>PÚBLICA</span></li>
      </ul>
      <div th:if="${not #lists.isEmpty(reunion.organos)}" class="row columns">
        <h3 class="title">Òrgans i assistents</h3>      
      </div>
      <ul th:if="${not #lists.isEmpty(reunion.organos)}" class="contentList detalle row columns">
        <li th:each="organo : ${reunion.organos}">
          <h4 class="title" th:text="${organo.nombre}">Òrgan assistent</h4>
          <ul th:with="miembros=${organo.asistentes}">
            <li th:each="miembro : ${miembros}">
              <div>
                <i class="fa fa-angle-right" style="font-weight: bold; margin-right: 0.2rem;"></i>
                <span th:text="${miembro.nombre} + ' (' + ${miembro.email} + ')' + ' - ' + ${miembro.cargo.nombre}">Miembro</span>
                <span class="asistencia asistira" th:if="${miembro.asistenciaConfirmada}">Assistirà</span>
                <span class="asistencia no-asistira" th:if="${miembro.asistenciaConfirmada == false}">No assistirà</span>
                <div class="detalle">
                  <strong th:if="${miembro.suplente}" th:text="'Suplent: ' + ${miembro.suplente} ">Suplente</strong>
                </div>
                <div class="detalle">
                  <strong th:if="${miembro.delegadoVoto}" th:text="'Delegació de vot: ' + ${miembro.delegadoVoto} ">Suplente</strong>
                </div>
              </div>
              <div class="detalle confirmacion" th:if="${reunion.completada != true and (connectedUserId == miembro.miembroId)}">
                <button class="button success tiny" th:attr="data-miembroid=${miembro.id}" th:if="${miembro.asistenciaConfirmada == true or miembro.delegadoVotoId != null}" disabled="disabled" name="confirmar">Assistirà</button>
                <button class="button success tiny" th:attr="data-miembroid=${miembro.id}" th:unless="${miembro.asistenciaConfirmada == true or miembro.delegadoVotoId != null}" name="confirmar">Assistirà</button>

                <button class="button alert tiny" th:attr="data-miembroid=${miembro.id}" th:if="${miembro.asistenciaConfirmada == false or miembro.suplenteId != null}" disabled="disabled" name="denegar">No assistirà</button>
                <button class="button alert tiny" th:attr="data-miembroid=${miembro.id}" th:unless="${miembro.asistenciaConfirmada == false or miembro.suplenteId != null}" name="denegar">No assistirà</button>

                <button class="button tiny" disabled="disabled" style="margin-left: 3em;" th:attr="data-miembroid=${miembro.id}, data-suplente=${miembro.suplente}" th:if="${reunion.admiteSuplencia and (miembro.asistenciaConfirmada == false or miembro.delegadoVotoId != null)}" name="suplente">Gestionar suplent</button>
                <button class="button tiny" style="margin-left: 3em;" th:attr="data-miembroid=${miembro.id}, data-suplente=${miembro.suplente}" th:if="${reunion.admiteSuplencia and (miembro.asistenciaConfirmada == null or miembro.asistenciaConfirmada == true) and miembro.delegadoVotoId == null}" name="suplente">Gestionar suplent</button>
                <button class="button tiny secondary" th:attr="data-miembroid=${miembro.id}" th:if="${reunion.admiteSuplencia and miembro.suplenteId != null}" name="borra-suplente-directo">Esborrar suplent</button>

                <button class="button tiny" style="margin-left: 3em;" disabled="disabled" th:attr="data-miembroid=${miembro.id}, data-delegado-voto=${miembro.delegadoVoto}" th:if="${reunion.admiteDelegacionVoto and (miembro.asistenciaConfirmada == true or miembro.suplenteId != null)}" name="delegado-voto">Gestionar delegació de vot</button>
                <button class="button tiny" style="margin-left: 3em;" th:attr="data-miembroid=${miembro.id}, data-delegado-voto=${miembro.delegadoVoto}" th:if="${reunion.admiteDelegacionVoto and (miembro.asistenciaConfirmada == null or miembro.asistenciaConfirmada == false) and miembro.suplenteId == null}" name="delegado-voto">Gestionar delegació de vot</button>
                <button class="button tiny secondary" th:attr="data-miembroid=${miembro.id}" th:if="${reunion.admiteDelegacionVoto and miembro.delegadoVotoId != null}" name="borra-delegado-voto-directo">Esborrar delegació de vot</button>
              </div>
            </li>
          </ul>
        </li>
      </ul>
      <div th:if="${not #lists.isEmpty(reunion.invitados)}" class="row columns">
        <h3 class="title">Convidats</h3>      
      </div>
      <ul th:if="${not #lists.isEmpty(reunion.invitados)}" class="contentList detalle row columns">
        <li th:each="invitado : ${reunion.invitados}">
          <span th:text="${invitado.nombre} + ' (' + ${invitado.email} + ')'">Invitado</span>
        </li>
      </ul>
      <div th:if="${not #lists.isEmpty(reunion.documentos)}" class="row columns">
        <hr/>
      </div>
      <ul th:if="${not #lists.isEmpty(reunion.documentos)}" class="contentList detalle row columns">
        <li th:each="documento : ${reunion.documentos}">
          <i class="fa fa-file-o"></i>
          <a th:href="'/goc/rest/reuniones/' + ${reunion.id} + '/documentos/' + ${documento.id} + '/descargar'">Descripcion documento</a>
          <small th:text="' [' + ${#dates.format(documento.fechaAdicion, 'dd/MM/YYYY HH:mm')} + ']'"></small>
        </li>
      </ul>
      <div th:if="${not #lists.isEmpty(reunion.puntosOrdenDia)}" class="row columns">
        <h3 class="title">Punts de l'ordre del dia</h3>      
      </div>
      <ol th:if="${not #lists.isEmpty(reunion.puntosOrdenDia)}" class="detalle row columns">
        <li th:each="puntoOrdenDia : ${reunion.puntosOrdenDia}">
          <strong th:text="${puntoOrdenDia.titulo}"></strong>
          <div th:if="${puntoOrdenDia.descripcion} != null" th:utext="${#strings.replace(puntoOrdenDia.descripcion,'\n','&lt;br&gt;')}"></div>
          <div th:if="${puntoOrdenDia.deliberaciones} != null and ${reunion.completada}" th:utext="${#strings.replace(puntoOrdenDia.deliberaciones,'\n','&lt;br&gt;')}"></div>
          <div th:if="${puntoOrdenDia.acuerdos} != null" th:utext="${#strings.replace(puntoOrdenDia.acuerdos,'\n','&lt;br&gt;')}"></div>
          <div th:if="${puntoOrdenDia.publico}" class="item-publico"><i class="fa fa-eye"></i> <span>PÚBLIC</span></div>
          <ul class="contentList" style="margin-top:0.6rem;" th:with="documentos=${puntoOrdenDia.documentos}">
            <li th:each="documento : ${documentos}">
              <i class="fa fa-file-o"></i>
              <a th:href="'/goc/rest/reuniones/' + ${reunion.id} + '/puntosOrdenDia/' + ${puntoOrdenDia.id} + '/documentos/' + ${documento.id} + '/descargar'" th:text="${documento.descripcion}">Descripcion documento</a>
              <small th:text="' [' +  ${#dates.format(documento.fechaAdicion, 'dd/MM/YYYY HH:mm')} + ']'"></small>
            </li>
          </ul>
          <strong th:if="${not #lists.isEmpty(puntoOrdenDia.documentosAcuerdos)} and ${reunion.completada}">Acords:</strong>
          <strong th:if="${not #lists.isEmpty(puntoOrdenDia.documentosAcuerdos)} and not ${reunion.completada}">Proposta d'acords:</strong>
          <ul class="contentList" th:with="acuerdos=${puntoOrdenDia.documentosAcuerdos}">
            <li th:each="acuerdo : ${acuerdos}">
              <a th:href="'/goc/rest/reuniones/' + ${acuerdo.id} + '/puntosOrdenDia/' + ${puntoOrdenDia.id} + '/acuerdos/' + ${acuerdo.id} + '/descargar'" th:text="${acuerdo.descripcion}">Descripcion acuerdo</a>
              <small th:text="' [' +  ${#dates.format(acuerdo.fechaAdicion, 'dd/MM/YYYY HH:mm')} + ']'"></small>
            </li>
          </ul>
          <strong th:if="${not #lists.isEmpty(puntoOrdenDia.descriptores)}">Descriptors:</strong>
          <ul class="contentList" th:with="descriptores=${puntoOrdenDia.descriptores}">
            <li th:each="descriptor : ${descriptores}">
              <span th:text="${descriptor.descriptorNombre}">Nombre descriptior</span>
              :
              <span th:text="${descriptor.claveNombre}">Nombre clave</span>
            </li>
          </ul>
          <br />
        </li>
      </ol>
      <div class="row columns">
        <h3 class="title">Convocant</h3>   
        <span class="detalle" th:text="${reunion.creadorNombre} + ' (' + ${reunion.creadorEmail} + ')'">Info convocante</span>
      </div>

      <div class="nuevo-suplente" style="display: none;">
        <input type="hidden" name="organoMiembroId" />
        <p class="suplente-actual">Suplent actual: <strong></strong> <button class="button small" name="borra-suplente">Esborrar suplent</button></p>
        <p>Afegir un suplent:</p>
        <div class="header">
          <input type="text" name="query-persona" /><button class="button" name="busca-persona">Cerca</button>
        </div>
        <ul class="resultados">
        </ul>
        <div class="footer">
          <button class="button" name="add-suplente">Afegeix suplent</button>
        </div>
      </div>

      <div class="nuevo-delegado-voto" style="display: none;">
        <input type="hidden" name="organoMiembroId" />
        <p class="delegado-voto-actual">Delagació de vot actual: <strong></strong> <button class="button small" name="borra-delegado-voto">Esborrar delegació de vot</button></p>
        <p>Afegir una delegació de vot:</p>
        <ul class="resultados">
        </ul>
        <div class="footer">
          <button class="button" name="add-delegado-voto">Afegeix delegació de vot</button>
        </div>
      </div>

      <div class="nuevo-comentario" style="display: none;">
        <p>Afegir un comentari:</p>
        <input type="hidden" name="reunionId" th:value="${reunion.id}" />
        <textarea style="width: 100%; height: 240px;"></textarea>
        <button class="button post-comentario">Afegeix</button>
      </div>
      <br style="margin-top: 2em;"/>
      
      <div class="row columns">
        <button th:if="${ not reunion.completada and reunion.admiteComentarios and permitirComentarios}" class="button add-comentario">Afegir un comentari</button>
      </div>  

      <div class="row columns">
        <div th:if="${permitirComentarios}" class="comentarios"></div>
      </div>

    </main>
    <script src="/goc/js/script.js"></script>
  </body>
</html>
