<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ca" lang="ca" xmlns:th="http://www.thymeleaf.org">
  <div th:substituteby="head-ca" />
  <body>
    <div class="off-canvas-content" data-off-canvas-content="data-off-canvas-content">
      <div th:substituteby="header-ca" />
    </div>
    <main class="columns reunion">
      <div class="row columns">
        <h1 th:text="'Reunió: ' + ${reunion.asunto}" class="title">title</h1>
      </div>
      <div class="row columns">
        <h3 class="title" >Informació bàsica</h3>      
      </div>
      <ul class="contentList detalle row columns">
        <li th:unless="${reunion.fechaSegundaConvocatoria}">
          <div class="tag"><strong>Data:</strong></div>
          <div class="value" th:utext="${#dates.format(reunion.fecha, 'dd/MM/yyyy HH:mm')}">valor</div>
        </li>
        <li th:if="${reunion.fechaSegundaConvocatoria}">
          <div class="tag"><strong>Primera convocatòria:</strong></div>
          <div class="value" th:utext="${#dates.format(reunion.fecha, 'dd/MM/yyyy HH:mm')}">valor</div>
        </li>
        <li th:if="${reunion.fechaSegundaConvocatoria}">
          <div class="tag"><strong>Segona convocatòria:</strong></div>
          <div class="value" th:utext="${#dates.format(reunion.fechaSegundaConvocatoria, 'dd/MM/yyyy HH:mm')}">valor</div>
        </li>
        <li th:if="${reunion.responsableActa}">
          <div class="tag"><strong>Responsable d'acta:</strong></div>
          <div class="value" th:utext="${reunion.responsableActa}">valor</div>
        </li>
        <li th:if="${reunion.numeroSesion} != null">
          <div class="tag"><strong>Número de sessió:</strong></div>
          <div class="value" th:utext="${reunion.numeroSesion}">valor</div>
        </li>
        <li th:if="${reunion.ubicacion}">
          <div class="tag"><strong>Lloc:</strong></div>
          <div class="value" th:utext="${reunion.ubicacion}">valor</div>
        </li>
        <li th:if="${reunion.duracion and reunion.duracion > 0}">
          <div class="tag"><strong>Durada:</strong></div>
          <div class="value" th:if="${reunion.duracion <= 480}" th:utext="${reunion.duracion} + ' minuts'">valor</div>
          <div class="value" th:if="${reunion.duracion > 480}">Més de 8 hores</div>
        </li>
        <li th:if="${reunion.descripcion}">
          <div class="tag"><strong>Descripció:</strong></div>
          <div class="value" th:utext="${#strings.replace(reunion.descripcion,'\n','&lt;br&gt;')}">valor</div>
        </li>
        <li th:if="${reunion.acuerdos != null}">
          <div class="tag"><strong>Acords generals:</strong></div>
          <div class="value" th:utext="${#strings.replace(reunion.acuerdos,'\n','&lt;br&gt;')}">valor</div>
        </li>
        <li th:if="${reunion.urlGrabacion != null}">
          <div class="tag"><strong>URL de la reunió:</strong></div>
          <div class="value"><a th:href="${reunion.urlGrabacion}" th:text="${reunion.urlGrabacion}"></a></div>
        </li>
        <li th:if="${reunion.telematica}">
          <div class="tag"><strong>Reunió telemàtica instruccions:</strong></div>
          <div class="value" th:utext="${reunion.telematicaDescripcion}">valor</div>
        </li>
        <li th:if="${reunion.publica}" class="item-publico"><i class="fa fa-eye"></i> <span>PÚBLICA</span></li>
      </ul>
      <div th:if="${not #lists.isEmpty(reunion.puntosOrdenDia)}" class="row columns">
        <h3 class="title">Punts de l'ordre del dia</h3>      
      </div>
      <div th:include="tpl_reunion-puntoordendia-acuerdos-ca :: puntosOrdenDia" th:with="puntos=${reunion.puntosOrdenDia},i=0" th:if="${not #lists.isEmpty(reunion.puntosOrdenDia)}"></div>
    </main>
  </body>
</html>
