<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <div th:substituteby="head-es" />
  <body>
    <div class="off-canvas-content" data-off-canvas-content="data-off-canvas-content">
      <div th:substituteby="header-es" />
    </div> 
    <main class="columns">
      <div class="row columns">
        <h2 class="title">Listado de reuniones</h2>
      </div> 
      <ul class="lista-reuniones contentList row columns">
        <li th:each="reunion : ${reuniones}">
          <div style="display: block" class="reunion-titulo" th:text="${reunion.asunto}"></div>
          <div style="display: inline" th:text="${#dates.format(reunion.fecha, 'dd/MM/YYYY HH:mm')}"></div>
          <div style="display: inline">
            <span class="separador">&nbsp;</span>
            <span class="documentacion"><a th:href="'/goc/rest/publicacion/reuniones/' + ${reunion.id} + '?lang=' + ${applang}">Documentación</a></span>
            <span class="separador">|</span>
            <span>
              <a th:if="${reunion.urlActa}" th:href="${reunion.urlActa}">Acta</a>
              <span th:unless="${reunion.urlActa}" data-tooltip="data-tooltip" class="has-tip link-desactivado" title="Acta no disponible hasta que finalice la reunión">Acta</span>
            </span>
            <span class="separador" th:if="${reunion.completada}"> | </span>
            <span><a th:if="${reunion.completada}" th:href="'/goc/rest/publicacion/reuniones/' + ${reunion.id} + '/acuerdos' + '?lang=' + ${applang}">Certificados de acuerdos de los puntos del orden del día</a></span>
            <span class="separador" th:if="${reunion.asistente}"> | </span>
            <span>
              <a th:if="${reunion.urlAsistencia}" th:href="${reunion.urlAsistencia}">Certificado de asistencia</a>
              <span th:if="${!reunion.urlAsistencia and reunion.asistente}" data-tooltip="data-tooltip" class="has-tip link-desactivado" title="Certificado no disponible hasta que finalice la reunión">Certificado de asistencia</span>
            </span>
            <hr />
          </div>          
        </li>
      </ul>
    </main>
  </body>
</html>
