<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <div th:substituteby="head-es" />
  <body>
    <div class="off-canvas-content" data-off-canvas-content="data-off-canvas-content">
      <div th:substituteby="header-es" />
    </div>
    <main class="columns reunion">
      <div class="row columns">
        <h2 th:text="'Reunión: ' + ${reunion.asunto}" class="title">title
        </h2>
      </div>
      <div class="row columns">
        <h3 class="title" >Información básica</h3>      
      </div>
      <ul class="contentList detalle row columns">
        <li th:utext="'&lt;strong&gt;Fecha&lt;/strong&gt;: ' + ${#dates.format(reunion.fecha, 'dd/MM/YYYY HH:mm')}"></li>
        <li th:if="${reunion.fechaSegundaConvocatoria}" th:utext="'&lt;strong&gt;Segunda convocatoria&lt;/strong&gt;: ' + ${#dates.format(reunion.fechaSegundaConvocatoria, 'dd/MM/YYYY HH:mm')}"></li>
        <li th:if="${reunion.responsableActa}" th:utext="'&lt;strong&gt;Responsable de acta&lt;/strong&gt;: ' + ${reunion.responsableActa}"></li>
        <li th:if="${reunion.numeroSesion} != null" th:utext="'&lt;strong&gt;Número de sesión&lt;/strong&gt;: ' + ${reunion.numeroSesion}"></li>
        <li th:if="${reunion.ubicacion}" th:utext="'&lt;strong&gt;Lugar&lt;/strong&gt;: ' + ${reunion.ubicacion}"></li>
        <li th:utext="'&lt;strong&gt;Duración&lt;/strong&gt;: ' + ${reunion.duracion} + ' minutos'"></li>
        <li th:if="${reunion.descripcion}" th:utext="'&lt;strong&gt;Descripción&lt;/strong&gt;: ' + ${reunion.descripcion}"></li>
        <li th:if="${reunion.acuerdos != null}" th:utext="'&lt;strong&gt;Acuerdos&lt;/strong&gt;: ' + ${reunion.acuerdos}"></li>
        <li th:if="${reunion.urlGrabacion != null}"><strong>URL grabación</strong>: <a th:href="${reunion.urlGrabacion}" th:text="${reunion.urlGrabacion}"></a></li>
        <li th:if="${reunion.telematica}"><strong>Reunión telemática. Instrucciones</strong>: <span th:text="${reunion.telematicaDescripcion}"></span></li>
        <li th:if="${reunion.publica}" class="item-publico"><i class="fa fa-eye"></i> <span>PÚBLICA</span></li>
      </ul>
      <div th:if="${not #lists.isEmpty(reunion.organos)}" class="row columns">
        <h3 class="title">Órganos y asistentes</h3>      
      </div>
      <ul th:if="${not #lists.isEmpty(reunion.organos)}" class="contentList detalle row columns">
        <li th:each="organo : ${reunion.organos}">
          <h4 class="title" th:text="${organo.nombre}">Órgano asistente</h4>
          <ul th:with="miembros=${organo.asistentes}">
            <li th:each="miembro : ${miembros}">
              <div>
                <span th:text="${miembro.nombre} + ' (' + ${miembro.email} + ')' + ' - ' + ${miembro.cargo.nombre}">Miembro</span>
                <span class="asistencia asistira" th:if="${miembro.asistenciaConfirmada}">Asistirá</span>
                <span class="asistencia no-asistira" th:if="${miembro.asistenciaConfirmada == false}">No asistirá</span>
                <div class="detalle">
                  <strong th:if="${miembro.suplente}" th:text="'Suplente: ' + ${miembro.suplente}">Suplente</strong>
                </div>
                <div class="detalle">
                  <strong th:if="${miembro.delegadoVoto}" th:text="'Delegación de voto: ' + ${miembro.delegadoVoto} ">Suplente</strong>
                </div>
              </div>
              <div class="detalle confirmacion" th:if="${reunion.completada != true and (connectedUserId == miembro.miembroId)}">
                <button class="button success tiny" th:attr="data-miembroid=${miembro.id}" th:if="${miembro.asistenciaConfirmada == true  or miembro.delegadoVotoId != null}" disabled="disabled" name="confirmar">Asistirá</button>
                <button class="button success tiny" th:attr="data-miembroid=${miembro.id}" th:unless="${miembro.asistenciaConfirmada == true  or miembro.delegadoVotoId != null}" name="confirmar">Asistirá</button>

                <button class="button alert tiny" th:attr="data-miembroid=${miembro.id}" th:if="${miembro.asistenciaConfirmada == false or miembro.suplenteId != null}" disabled="disabled" name="denegar">No asistirá</button>
                <button class="button alert tiny" th:attr="data-miembroid=${miembro.id}" th:unless="${miembro.asistenciaConfirmada == false or miembro.suplenteId != null}" name="denegar">No asistirá</button>

                <button class="button tiny" style="margin-left: 3em;" disabled="disabled" th:attr="data-miembroid=${miembro.id}, data-suplente=${miembro.suplente}" th:if="${reunion.admiteSuplencia and (miembro.asistenciaConfirmada == false or miembro.delegadoVotoId != null)}" name="suplente">Gestionar suplente</button>
                <button class="button tiny" style="margin-left: 3em;" th:attr="data-miembroid=${miembro.id}, data-suplente=${miembro.suplente}" th:if="${reunion.admiteSuplencia and (miembro.asistenciaConfirmada == null or miembro.asistenciaConfirmada == true) and miembro.delegadoVotoId == null}" name="suplente">Gestionar suplente</button>
                <button class="button tiny secondary" th:attr="data-miembroid=${miembro.id}" th:if="${reunion.admiteSuplencia and miembro.suplenteId != null}" name="borra-suplente-directo">Borrar suplente</button>

                <button class="button tiny" style="margin-left: 3em;" disabled="disabled"  th:attr="data-miembroid=${miembro.id}, data-delegado-voto=${miembro.delegadoVoto}" th:if="${reunion.admiteDelegacionVoto and (miembro.asistenciaConfirmada == true or miembro.suplenteId != null)}" name="delegado-voto">Gestionar delegación de voto</button>
                <button class="button tiny" style="margin-left: 3em;" th:attr="data-miembroid=${miembro.id}, data-delegado-voto=${miembro.delegadoVoto}" th:if="${reunion.admiteDelegacionVoto and (miembro.asistenciaConfirmada == null or miembro.asistenciaConfirmada == false) and miembro.suplenteId == null}" name="delegado-voto">Gestionar delegación de voto</button>
                <button class="button tiny secondary" th:attr="data-miembroid=${miembro.id}" th:if="${reunion.admiteDelegacionVoto and miembro.delegadoVotoId != null}" name="borra-delegado-voto-directo">Borrar delegación de voto</button>
              </div>
            </li>
          </ul>
        </li>
      </ul>
      <div th:if="${not #lists.isEmpty(reunion.invitados)}" class="row columns">
        <h3 class="title">Invitados</h3>      
      </div>
      <ul th:if="${not #lists.isEmpty(reunion.invitados)}" class="contentList detalle row columns">
        <li th:each="invitado : ${reunion.invitados}">
          <span th:text="${invitado.nombre} + ' (' + ${invitado.email} + ')'">Invitado</span>
        </li>
      </ul>
      <div th:if="${not #lists.isEmpty(reunion.documentos)}" class="row columns">
        <h3 class="title">Documentación</h3>      
      </div>
      <ul th:if="${not #lists.isEmpty(reunion.documentos)}" class="contentList detalle row columns">
        <li th:each="documento : ${reunion.documentos}">
          <a th:href="'/goc/rest/reuniones/' + ${reunion.id} + '/documentos/' + ${documento.id} + '/descargar'" th:text="${documento.descripcion}">Descripción documento
          </a>
          <small th:text="' ' + ${#dates.format(documento.fechaAdicion, 'dd/MM/YYYY HH:mm')}"></small>
        </li>
      </ul>
      <div th:if="${not #lists.isEmpty(reunion.puntosOrdenDia)}" class="row columns">
        <h3 class="title">Puntos del orden del día</h3>      
      </div>
      <ol th:if="${not #lists.isEmpty(reunion.puntosOrdenDia)}" class="detalle row columns">
        <li th:each="puntoOrdenDia : ${reunion.puntosOrdenDia}">
          <strong th:text="${puntoOrdenDia.titulo}"></strong>
          <div th:if="${puntoOrdenDia.descripcion} != null" th:utext="'&lt;strong&gt;Descripción&lt;/strong&gt;: ' + ${puntoOrdenDia.descripcion}"></div>
          <div th:if="${puntoOrdenDia.deliberaciones} != null" th:utext="'&lt;strong&gt;Deliberaciones&lt;/strong&gt;: ' + ${puntoOrdenDia.deliberaciones}"></div>
          <div th:if="${puntoOrdenDia.acuerdos} != null and ${reunion.completada}" th:utext="'&lt;strong&gt;Acuerdos&lt;/strong&gt;: ' + ${puntoOrdenDia.acuerdos}"></div>
          <div th:if="${puntoOrdenDia.acuerdos} != null and not ${reunion.completada}" th:utext="'&lt;strong&gt;Popuesta de acuerdos&lt;/strong&gt;: ' + ${puntoOrdenDia.acuerdos}"></div>
          <div th:if="${puntoOrdenDia.publico}" class="item-publico"><i class="fa fa-eye"></i> <span>PÚBLICO</span></div>
          <strong th:if="${not #lists.isEmpty(puntoOrdenDia.documentos)}">Documentación:</strong>
          <ul class="contentList" th:with="documentos=${puntoOrdenDia.documentos}">
            <li th:each="documento : ${documentos}">
              <a th:href="'/goc/rest/reuniones/' + ${reunion.id} + '/puntosOrdenDia/' + ${puntoOrdenDia.id} + '/documentos/' + ${documento.id} + '/descargar'" th:text="${documento.descripcion}">Descripcion documento</a>
              <small th:text="' [' +  ${#dates.format(documento.fechaAdicion, 'dd/MM/YYYY HH:mm')} + ']'"></small>
            </li>
          </ul>
          <strong th:if="${not #lists.isEmpty(puntoOrdenDia.documentosAcuerdos)} and ${reunion.completada}">Acuerdos:</strong>
          <strong th:if="${not #lists.isEmpty(puntoOrdenDia.documentosAcuerdos)} and not ${reunion.completada}">Propuesta de acuerdos:</strong>
          <ul class="contentList" th:with="acuerdos=${puntoOrdenDia.documentosAcuerdos}">
            <li th:each="acuerdo : ${acuerdos}">
              <a th:href="'/goc/rest/reuniones/' + ${acuerdo.id} + '/puntosOrdenDia/' + ${puntoOrdenDia.id} + '/acuerdos/' + ${acuerdo.id} + '/descargar'" th:text="${acuerdo.descripcion}">Descripción acuerdo</a>
              <small th:text="' [' +  ${#dates.format(acuerdo.fechaAdicion, 'dd/MM/YYYY HH:mm')} + ']'"></small>
            </li>
          </ul>
          <strong th:if="${not #lists.isEmpty(puntoOrdenDia.descriptores)}">Descriptores:</strong>
          <ul class="contentList" th:with="descriptores=${puntoOrdenDia.descriptores}">
            <li th:each="descriptor : ${descriptores}">
              <span th:text="${descriptor.descriptorNombre}">Nombre descriptior</span>
              :
              <span th:text="${descriptor.claveNombre}">Nombre clave</span>
            </li>
          </ul>
          <br />
        </li>
      </ol>
      <div class="row columns">
        <h3 class="title">Convocante</h3>  
        <span class="detalle" th:text="${reunion.creadorNombre} + ' (' + ${reunion.creadorEmail} + ')'">Info convocante</span>
      </div>

      <div class="nuevo-suplente" style="display: none;">
        <input type="hidden" name="organoMiembroId" />
        <p class="suplente-actual">Suplente actual: <strong></strong> <button class="button small" name="borra-suplente">Borrar suplente</button></p>
        <p>Añadir un suplente:</p>
        <div class="header">
          <input type="text" name="query-persona" /><button class="button" name="busca-persona">Buscar</button>
        </div>
        <ul class="resultados">
        </ul>
        <div class="footer">
          <button class="button" name="add-suplente">Añadir suplente</button>
        </div>
      </div>

      <div class="nuevo-delegado-voto" style="display: none;">
        <input type="hidden" name="organoMiembroId" />
        <p class="delegado-voto-actual">Delegación de voto actual: <strong></strong> <button class="button small" name="borra-delegado-voto">Borrar delegación de voto</button></p>
        <p>Añadir una delegación de voto:</p>
        <ul class="resultados">
        </ul>
        <div class="footer">
          <button class="button" name="add-delegado-voto">Añadir delegación de voto</button>
        </div>
      </div>

      <div class="nuevo-comentario" style="display: none;">
        <p>Añadir un comentario:</p>
        <input type="hidden" name="reunionId" th:value="${reunion.id}" />
        <textarea style="width: 100%; height: 240px;"></textarea>
        <button class="button post-comentario">Añadir</button>
      </div>
      <br style="margin-top: 2em;"/>
      
      <div class="row columns">
        <button th:if="${ not reunion.completada and reunion.admiteComentarios and permitirComentarios}" class=" button add-comentario">Añadir un comentario</button>
      </div>  
      
      <div class="row columns">
        <div th:if="${permitirComentarios}" class="comentarios"></div>
      </div>

    </main>
    <script src="/goc/js/script.js"></script>
  </body>
</html>
