<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es" xmlns:th="http://www.thymeleaf.org">
  <div th:substituteby="head-es" />
  <body>
    <div class="off-canvas-content" data-off-canvas-content="data-off-canvas-content">
      <div th:substituteby="header-es" />
    </div> 
    <main class="columns">
      <div class="row columns">
        <button class="button tiny" style="margin-left: 3em; ; float: right" onclick="verEnlaceCalendario()">Exportar mi calendario</button>
      </div>
      <div class="row columns">
        <h1 class="title">Listado de reuniones</h1>
      </div> 
      <ul class="lista-reuniones contentList row columns">
        <li th:each="reunion : ${reuniones}">
          <div style="display: block" class="reunion-titulo" th:text="${reunion.asunto}"></div>
          <div style="display: inline" th:text="${#dates.format(reunion.fecha, 'dd/MM/yyyy HH:mm')}"></div>
          <div style="display: inline">
            <span class="separador">&nbsp;</span>
            <span class="documentacion"><a th:aria-label="${'Documentación de la reunión: ' + reunion.asunto}" th:href="${appContext} + '/rest/publicacion/reuniones/' + ${reunion.id} + '?lang=' + ${applang}">Documentación</a></span>
            <span class="separador">|</span>
            <span>
              <a th:aria-label="${'Acta de la reunión: ' + reunion.asunto}" th:if="${reunion.urlActa} and ${reunion.completada == true}" th:href="${reunion.urlActa}">Acta</a>
              <span th:if="${reunion.completada != true}" data-tooltip="data-tooltip" class="has-tip link-desactivado" title="Acta no disponible hasta que finalice la reunión">Acta</span>
            </span>
            <span class="separador" th:if="${mostrarEnlaceCertificados == true}"> | </span>
            <span>
              <a th:aria-label="${'Certificado de acuerdos de la reunión: ' + reunion.asunto}" th:if="${reunion.completada == true} and ${mostrarEnlaceCertificados == true}" th:href="${appContext} + '/rest/publicacion/reuniones/' + ${reunion.id} + '/acuerdos' + '?lang=' + ${applang}">Certificados de acuerdos de los puntos del orden del día</a>
              <span th:if="${reunion.completada != true} and ${mostrarEnlaceCertificados == true}" data-tooltip="data-tooltip" class="has-tip link-desactivado" title="Certificado no disponible hasta que finalice la reunión">Certificados de acuerdos de los puntos del orden del día</span>
            </span>
            <span class="separador" th:if="${reunion.asistente == true} and ${reunion.completada == true} and ${mostrarEnlaceCertificados == true}"> | </span>
            <span>
              <a th:aria-label="${'Certificado de asistencia de la reunión: ' + reunion.asunto}" th:if="${reunion.urlAsistencia} and ${reunion.completada == true} and ${reunion.asistente == true} and ${mostrarEnlaceCertificados == true}" th:href="${reunion.urlAsistencia}">Certificado de asistencia</a>
              <span th:if="${reunion.completada != true} and ${reunion.asistente} and ${mostrarEnlaceCertificados == true}" data-tooltip="data-tooltip" class="has-tip link-desactivado" title="Certificado no disponible hasta que finalice la reunión">Certificado de asistencia</span>
            </span>
            <hr />
          </div>
        </li>
      </ul>
    </main>
  </body>
</html>
