<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es" xmlns:th="http://www.thymeleaf.org">
  <div th:substituteby="head-es" />
  <body>
    <div class="off-canvas-content" data-off-canvas-content="data-off-canvas-content">
      <div th:substituteby="header-es" />
    </div>
    <main class="columns reunion">
      <input type="hidden" name="lang" th:value="${applang}" />
      <input type="hidden" name="staticsUrl" th:value="${staticsUrl}"/>
      <input type="hidden" name="reunionHasVotacion" th:value="${reunion.votacionPublica}"/>
      <div class="row columns">
        <h1 th:text="'Reunión: ' + ${reunion.asunto}" class="title">title</h1>
      </div>
      <div class="row columns">
        <h2 class="title" >Información básica</h2>
      </div>
      <ul class="contentList detalle row columns">
        <li th:if="${reunion.publica}" class="item-publico"><i class="fa fa-eye"></i> <span>PÚBLICA</span></li>
        <li th:unless="${reunion.fechaSegundaConvocatoria}">
          <div class="tag"><strong>Fecha:</strong></div>
          <div class="value" th:utext="${diaSemanaTexto} ">valor</div>
          <div class="value" th:utext="${#dates.format(reunion.fecha, 'dd/MM/yyyy HH:mm')}">valor</div>
        </li>
        <li th:if="${reunion.fechaSegundaConvocatoria}">
          <div class="tag"><strong>Primera convocatoria:</strong></div>
          <div class="value" th:utext="${diaSemanaTexto} ">valor</div>
          <div class="value" th:utext="${#dates.format(reunion.fecha, 'dd/MM/yyyy HH:mm')}">valor</div>
        </li>
        <li th:if="${reunion.fechaSegundaConvocatoria}">
          <div class="tag"><strong>Segunda convocatoria:</strong></div>
          <div class="value" th:utext="${#dates.format(reunion.fechaSegundaConvocatoria, 'dd/MM/yyyy HH:mm')}">valor</div>
        </li>
        <li th:if="${reunion.responsableActa}">
          <div class="tag"><strong>Responsable de acta:</strong></div>
          <div class="value" th:utext="${reunion.responsableActa}">valor</div>
        </li>
        <li th:if="${reunion.numeroSesion} != null">
          <div class="tag"><strong>Número de sesión:</strong></div>
          <div class="value" th:utext="${reunion.numeroSesion}">valor</div>
        </li>
        <li th:if="${reunion.ubicacion}">
          <div class="tag"><strong>Lugar:</strong></div>
          <div class="value" th:utext="${reunion.ubicacion}">valor</div>
        </li>
        <li th:if="${reunion.duracion and reunion.duracion > 0}">
          <div class="tag"><strong>Duración:</strong></div>
          <div class="value" th:if="${reunion.duracion <= 480}" th:utext="${reunion.duracion} + ' minutos'">valor</div>
          <div class="value" th:if="${reunion.duracion > 480}">Más de 8 horas</div>
        </li>
        <li th:if="${reunion.descripcion}">
          <div class="tag"><strong>Descripción:</strong></div>
          <div class="value" th:utext="${#strings.replace(reunion.descripcion,'\n','&lt;br&gt;')}">valor</div>
        </li>
        <li th:if="${reunion.acuerdos != null}">
          <div class="tag"><strong>Acuerdos generales:</strong></div>
          <div class="value" th:utext="${#strings.replace(reunion.acuerdos,'\n','&lt;br&gt;')}">valor</div>
        </li>
        <li th:if="${reunion.urlGrabacion != null}">
          <div class="tag"><strong>URL de la reunión:</strong></div>
          <div class="value"><a th:href="${reunion.urlGrabacion}" th:text="${reunion.urlGrabacion}"></a></div>
        </li>
        <li th:if="${reunion.telematica}">
          <div class="tag"><strong>Reunión telemática Instrucciones:</strong></div>
          <div class="value" th:utext="${reunion.telematicaDescripcion}">valor</div>
          <div class="value" th:if="${reunion.telematicaDescripcion}"
               style="padding-right: 1rem;"></div>

        </li>
        <li>
          <div class="value" th:if="${votante || presideVotacion}">
            <a target="_blank" th:href="${appContext} + '/rest/publicacion/reuniones/'+ ${reunion.id} + '/votacion'">Votar
              electrónicamente</a>
          </div>
        </li>
        <li style="padding-left:1rem;padding-top: 0.5rem;">
          <i class="fa fa-file-o"></i>
          <a th:if="${reunion.urlActa}" th:href="${reunion.urlActa}">Acta de la reunión</a>
          <a th:unless="${reunion.urlActa}" th:href="${appContext} + '/rest/actas/' + ${reunion.id} + '?lang=' + ${applang}">Borrador del acta</a>
        </li>
      </ul>
      <div th:if="${not #lists.isEmpty(reunion.organos)}" class="row columns">
        <h3 class="title">Órganos y asistentes</h3>      
      </div>
      <ul th:if="${not #lists.isEmpty(reunion.organos)}" class="contentList detalle row columns">
        <li th:each="organo : ${reunion.organos}">
          <h4 class="title" th:text="${organo.nombre}">Organo asistente</h4>
          <ul th:each="grupo:${grupos}" style="margin-bottom: 2rem;">
            <h6 th:if="((${grupo.nombre != 'Sin grupo'} and ${grupos.size() == 1}) or (${grupos.size() > 1})) and (${organo.id == grupo.organoId})" style="font-weight: bold;" th:text="${grupo.nombre}"></h6>
            <li th:each="miembro : ${grupo.asistentes}">
              <div th:if="${grupo.organoId == organo.id}">
                <i class="fa fa-angle-right" style="font-weight: bold; margin-right: 0.2rem;"></i>
                <span th:text="${miembro.nombre}"/>
                <span th:if="${mostrarEmails}" th:text="' (' + ${miembro.email} + ')' " />
                <span th:if="${not #strings.isEmpty(miembro.cargo.nombre)}" th:text="' - ' + ${miembro.cargo.nombre}" />
                <span th:if="${miembro.descripcion}" th:text="' - ' + ${miembro.descripcion}"/>
                <span class="asistencia asistira" th:if="${miembro.asistencia}">Asistirá</span>
                <span class="asistencia no-asistira" th:if="${miembro.asistencia == false}">No asistirá</span>
                <div class="detalle">
                  <strong th:if="${miembro.suplente}" th:text="'Suplente: ' + ${miembro.suplente}">Suplente</strong>
                </div>
                <div class="detalle">
                  <strong th:if="${miembro.delegadoVoto}" th:text="'Delegación de voto: ' + ${miembro.delegadoVoto} ">Suplente</strong>
                </div>
              </div>
              <div th:if="${grupo.organoId == organo.id}">
              <div class="detalle confirmacion" th:if="${reunion.completada != true and (connectedUserId == miembro.miembroId)}">
                <button class="button success tiny" th:attr="data-miembroid=${miembro.id}" th:if="${miembro.asistencia == true  or miembro.delegadoVotoId != null}" disabled="disabled" name="confirmar">Asistirá</button>
                <button class="button success tiny" th:attr="data-miembroid=${miembro.id}" th:unless="${miembro.asistencia == true  or miembro.delegadoVotoId != null}" name="confirmar">Asistirá</button>

                <button class="button alert tiny" th:attr="data-miembroid=${miembro.id}" th:if="${miembro.asistencia == false or miembro.suplenteId != null}" disabled="disabled" name="denegar">No asistirá</button>
                <button class="button alert tiny" th:attr="data-miembroid=${miembro.id}" th:unless="${miembro.asistencia == false or miembro.suplenteId != null}" name="denegar">No asistirá</button>

                <button class="button tiny" style="margin-left: 3em;" disabled="disabled" th:attr="data-miembroid=${miembro.id}, data-suplente=${miembro.suplente}" th:if="${reunion.admiteSuplencia and (miembro.asistencia == false or miembro.delegadoVotoId != null)}" name="suplente">Gestionar suplente</button>
                <button class="button tiny" style="margin-left: 3em;" th:attr="data-miembroid=${miembro.id}, data-suplente=${miembro.suplente}" th:if="${reunion.admiteSuplencia and (miembro.asistencia == null or miembro.asistencia == true) and miembro.delegadoVotoId == null}" name="suplente">Gestionar suplente</button>
                <button class="button tiny secondary" th:attr="data-miembroid=${miembro.id}" th:if="${reunion.admiteSuplencia and miembro.suplenteId != null}" name="borra-suplente-directo">Borrar suplente</button>

                <span th:if="${votante}">
                  <button class="button tiny" style="margin-left: 3em;" disabled="disabled"  th:attr="data-miembroid=${miembro.id}, data-delegado-voto=${miembro.delegadoVoto}" th:if="${reunion.admiteDelegacionVoto and (miembro.asistencia == true or miembro.suplenteId != null)}" name="delegado-voto">Gestionar delegación de voto</button>
                  <button class="button tiny" style="margin-left: 3em;" th:attr="data-miembroid=${miembro.id}, data-delegado-voto=${miembro.delegadoVoto}" th:if="${reunion.admiteDelegacionVoto and (miembro.asistencia == null or miembro.asistencia == false) and miembro.suplenteId == null}" name="delegado-voto">Gestionar delegación de voto</button>
                  <button class="button tiny secondary" th:attr="data-miembroid=${miembro.id}" th:if="${reunion.admiteDelegacionVoto and miembro.delegadoVotoId != null}" name="borra-delegado-voto-directo">Borrar delegación de voto</button>
                </span>
              </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
      <div th:if="${not #lists.isEmpty(reunion.invitados)}" class="row columns">
        <h3 class="title">Invitados</h3>      
      </div>
      <ul th:if="${not #lists.isEmpty(reunion.invitados)}" class="contentList detalle row columns">
        <li th:each="invitado : ${reunion.invitados}">
          <span th:text="${invitado.nombre}"/>
          <span th:if="${mostrarEmails}" th:text="' (' + ${invitado.email} + ')'"/>
          <span th:if="${invitado.descripcion}" th:text="' - ' + ${invitado.descripcion}"/>
        </li>
      </ul>
      <div th:if="${hayAlgunDocumento}" class="row columns">
        <hr/>
      </div>

      <div th:if="${hayAlgunDocumento}" class="row columns">
        <h3 class="title">Documentos de la reunión</h3>
      </div>

      <ul th:if="${hayAlgunDocumento}" class="contentList detalle row columns">
        <li th:each="documento : ${reunion.documentos}">
          <i class="fa fa-file-o"></i>
          <a th:href="${appContext} + '/rest/reuniones/' + ${reunion.id} + '/documentos/' + ${documento.id} + '/descargar'" th:text="${documento.descripcion}">Descripción documento
          </a>
          <small th:text="' ' + ${#dates.format(documento.fechaAdicion, 'dd/MM/yyyy HH:mm')}"></small>
        </li>
        <button class="button tiny" th:attr="onclick='window.location.href=\'' + ${appContext} + '/rest/reuniones/' + ${reunion.id} + '/documentos/descargar\''" name="descargar-documentacion">Descargar toda la documentación de la reunión</button>
      </ul>
      <div th:if="${not #lists.isEmpty(reunion.puntosOrdenDia)}" class="row columns">
        <h3 class="title">Puntos del orden del día</h3>      
      </div>
      <div th:include="tpl-reunion-puntoordendia-es :: puntosOrdenDia" th:with="puntos=${reunion.puntosOrdenDia},i=0"></div>
      <div th:if="${reunion.convocante != null} and ${reunion.convocante != ''} and ${mostrarConvocante}" class="row columns">
        <h3 class="title">Convocante</h3>
        <span th:if="${mostrarEmails}" class="detalle" th:text="${reunion.convocante}" ></span>
        <span th:if="${reunion.convocanteEmail != null} and ${reunion.convocanteEmail != ''}" th:text="' (' + ${reunion.convocanteEmail} + ')'">Info convocante</span>
        <span th:if="${mostrarEmails == false}" class="detalle" th:text="${reunion.convocante}">Info convocante</span>
      </div>

      <div role="dialog" aria-modal="true" aria-label="Gestión de suplente" class="nuevo-suplente" style="display: none;">
        <input type="hidden" name="organoMiembroId" />
        <p class="suplente-actual">Suplente actual: <strong></strong> <button class="button small" name="borra-suplente">Borrar suplente</button></p>
        <p>Añadir un suplente:</p>
        <div class="header">
          <input aria-label="Buscar persona por nombre" type="text" name="query-persona" /><button class="button" name="busca-persona">Buscar</button>
        </div>
        <ul class="resultados">
        </ul>
        <div class="footer">
          <button class="button" name="add-suplente">Añadir suplente</button>
        </div>
      </div>

      <div role="dialog" aria-modal="true" aria-label="Gestión de delegación de voto" class="nuevo-delegado-voto" style="display: none;">
        <input type="hidden" name="organoMiembroId" />
        <p class="delegado-voto-actual">Delegación de voto actual: <strong></strong> <button class="button small" name="borra-delegado-voto">Borrar delegación de voto</button></p>
        <p>Añadir una delegación de voto:</p>
        <ul class="resultados">
        </ul>
        <div class="footer">
          <button class="button" name="add-delegado-voto">Añadir delegación de voto</button>
        </div>
      </div>

      <div role="dialog" aria-modal="true" aria-label="Edición de comentarios" class="nuevo-comentario" style="display: none;">
        <p>Añadir un comentario:</p>
        <input type="hidden" name="reunionId" th:value="${reunion.id}" />
        <textarea aria-label="Comentario" style="width: 100%; height: 240px;"></textarea>
        <button class="button post-comentario">Añadir</button>
      </div>

      <div role="dialog" aria-modal="true" aria-label="Edición de comentarios en los puntos" class="nuevo-comentario-punto" style="display: none;">
        <p>Añadir un comentario a un punto:</p>
        <input type="hidden" name="reunionId" th:value="${reunion.id}" />
        <input type="hidden" name="puntoId" />
        <input type="hidden" name="comentarioId" />
        <textarea aria-label="Comentario" style="width: 100%; height: 240px;"></textarea>
        <button class="button post-comentario-punto" onclick="enviarComentarioPunto(this)">Añadir</button>
      </div>
      <br style="margin-top: 2em;"/>
      
      <div class="row columns">
        <button th:if="${ not reunion.completada and reunion.admiteComentarios and permitirComentarios}" class=" button add-comentario">Añadir un comentario</button>
      </div>  

      <div class="row columns">
        <div th:if="${permitirComentarios}" class="comentarios"></div>
      </div>

    </main>
    <script th:src="${appContext} + '/js/script.js'"></script>
  </body>
</html>
