<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es" xmlns:th="http://www.thymeleaf.org">
<div th:substituteby="head-es"/>
<body>
<div class="off-canvas-content" data-off-canvas-content="data-off-canvas-content">
    <div th:substituteby="header-es"/>
</div>

<main class="columns reunion">
    <input type="hidden" name="reunionId" th:value="${reunion.id}" />
    <input type="hidden" name="staticsUrl" th:value="${staticsUrl}" />
    <div class="row columns">
            <a th:href="${appContext} + '/rest/publicacion/reuniones/' + ${reunion.id}">Volver a ficha de la reunión</a>
    </div>
    <div class="row columns">
        <h1 th:text="'Votación de reunión: ' + ${reunion.asunto}" class="title" name="votacion">title</h1>
    </div>
    <div class="row columns">
        <h3 class="title">Información básica</h3>
    </div>
    <ul class="contentList detalle row columns">
        <li th:if="${reunion.publica}" class="item-publico"><i class="fa fa-eye"></i> <span>PÚBLICA</span></li>
        <li th:unless="${reunion.fechaSegundaConvocatoria}">
            <div class="tag"><strong>Fecha:</strong></div>
            <div class="value" th:utext="${diaSemanaTexto} ">valor</div>
            <div class="value" th:utext="${#dates.format(reunion.fecha, 'dd/MM/yyyy HH:mm')}">valor</div>
        </li>
        <li th:if="${reunion.fechaSegundaConvocatoria}">
            <div class="tag"><strong>Primera convocatoria:</strong></div>
            <div class="value" th:utext="${diaSemanaTexto} ">valor</div>
            <div class="value" th:utext="${#dates.format(reunion.fecha, 'dd/MM/yyyy HH:mm')}">valor</div>
        </li>
        <li th:if="${reunion.fechaSegundaConvocatoria}">
            <div class="tag"><strong>Segunda convocatoria:</strong></div>
            <div class="value" th:utext="${#dates.format(reunion.fechaSegundaConvocatoria, 'dd/MM/yyyy HH:mm')}">valor
            </div>
        </li>
        <li th:if="${reunion.responsableActa}">
            <div class="tag"><strong>Responsable de acta:</strong></div>
            <div class="value" th:utext="${reunion.responsableActa}">valor</div>
        </li>
        <li th:if="${reunion.numeroSesion} != null">
            <div class="tag"><strong>Número de sesión:</strong></div>
            <div class="value" th:utext="${reunion.numeroSesion}">valor</div>
        </li>
        <li th:if="${reunion.descripcion}">
            <div class="tag"><strong>Descripción:</strong></div>
            <div class="value" th:utext="${#strings.replace(reunion.descripcion,'\n','&lt;br&gt;')}">valor</div>
        </li>

    </ul>

    <div th:if="${not #lists.isEmpty(reunion.puntosOrdenDia)}" class="row columns">
        <h3 class="title">Puntos del orden del día</h3>
    </div>

    <div th:if="${not #lists.isEmpty(personasSustituyeODelegan)}" class="row columns">
        <label>Votar en nombre de:</label>
        <select name="votoEnNombre" id="votoEnNombre">
            <option th:each="votante :${personasSustituyeODelegan}" th:value="${votante.personaId}" th:text="${votante.name}"></option>
        </select>
    </div>
    <div style="display: none" name="asistencia-no-confirmada" class="row columns"><span class="no-asistira">Para poder votar debe confirmar la asistencia</span>
    </div>
    <div th:include="tpl-reunion-puntoordendia-votacion-es :: puntosOrdenDia"
         th:with="puntos=${reunion.puntosOrdenDia},i=0,votacionPublica=${reunion.votacionPublica}"></div>

</main>
<script th:src="${appContext} +'/js/script.js'"></script>
</body>
</html>
