<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta th:charset="${charset}" />
    <title>Acta gestió d'organs col·legiats</title>
    <link rel="stylesheet" type="text/css" href="/goc/css/jquery.modal.css" />
    <link rel="stylesheet" type="text/css" href="/goc/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/goc/css/font-awesome.min.css" />
    <link th:if="${customCSS != ''}" rel="stylesheet" type="text/css" th:href="${customCSS}" />
    
    <script src="/goc/js/jquery.min.js"></script>
    <script src="/goc/js/jquery.modal.js"></script>
    <script th:inline="javascript">
    /*<![CDATA[*/
        var applang = [[${applang}]];
    /*]]>*/
    </script>
  </head>
  <body>
    <div class="content">
      <div class="header">
        <img class="logo" src="#" th:src="${logo}" />
        <h1>Gestió d'Òrgans Col·legiats</h1>
        <div class="topmenu">
          <ul th:if="${alternativeLanguage and alternativeLanguage != ''}">
            <li><a th:href="${'?lang=' + mainLanguage}" th:text="${mainLanguageDescription}">Español</a></li>
            <li><a th:href="${'?lang=' + alternativeLanguage}" th:text="${alternativeLanguageDescription}">Valencià</a></li>
          </ul>
        </div>
      </div>

      <h1 style="clear:both;" th:text="'Reunió: ' + ${reunion.asuntoAlternativo}">Título reunión</h1>
      <h2>Informació bàsica</h2>
      <ul>
        <li th:utext="'&lt;strong&gt;Data&lt;/strong&gt;: ' + ${#dates.format(reunion.fecha, 'dd/MM/YYYY HH:mm')}"></li>
        <li th:if="${reunion.fechaSegundaConvocatoria}" th:utext="'&lt;strong&gt;Segona convocatòria&lt;/strong&gt;: ' + ${#dates.format(reunion.fechaSegundaConvocatoria, 'dd/MM/YYYY HH:mm')}"></li>
        <li th:if="${reunion.responsableActa}" th:utext="'&lt;strong&gt;Responsable d\'acta&lt;/strong&gt;: ' + ${reunion.responsableActa}"></li>
        <li th:if="${reunion.numeroSesion} != null" th:utext="'&lt;strong&gt;Número de sessió&lt;/strong&gt;: ' + ${reunion.numeroSesion}"></li>
        <li th:if="${reunion.ubicacionAlternativa}" th:utext="'&lt;strong&gt;Lloc&lt;/strong&gt;: ' + ${reunion.ubicacionAlternativa}"></li>
        <li th:utext="'&lt;strong&gt;Duració&lt;/strong&gt;: ' + ${reunion.duracion} + ' minuts'"></li>
        <li th:if="${reunion.descripcionAlternativa}" th:utext="'&lt;strong&gt;Descripció&lt;/strong&gt;: ' + ${reunion.descripcionAlternativa}"></li>
        <li th:if="${reunion.acuerdosAlternativos != null}" th:utext="'&lt;strong&gt;Acords&lt;/strong&gt;: ' + ${reunion.acuerdosAlternativos}"></li>
        <li th:if="${reunion.urlGrabacion != null}"><strong>URL gravació</strong>: <a th:href="${reunion.urlGrabacion}" th:text="${reunion.urlGrabacion}"></a></li>
        <li th:if="${reunion.telematica}"><strong>Reunió telemàtica. Instruccions</strong>: <span th:text="${reunion.telematicaDescripcionAlternativa}"></span></li>
      </ul>
      <h2 th:if="${not #lists.isEmpty(reunion.organos)}">Òrgans i assistents</h2>
      <ul th:if="${not #lists.isEmpty(reunion.organos)}">
        <li th:each="organo : ${reunion.organos}">
          <h3 th:text="${organo.nombreAlternativo}">Òrgan assistent</h3>
          <ul th:with="miembros=${organo.asistentes}">
            <li th:each="miembro : ${miembros}">
              <div>
                <span th:text="${miembro.cargo.nombre} + ' - ' + ${miembro.nombre} + ' (' + ${miembro.email} + ')'">Miembro</span>
                <span th:if="${miembro.suplente}" th:text="'[Assisteix com a suplent ' + ${miembro.suplente} + ']'">Suplente</span>
                <strong th:if="${miembro.asistenciaConfirmada}">Assistirà</strong>
                <strong th:if="${miembro.asistenciaConfirmada == false}">No assistirà</strong>
              </div>
              <div class="confirmacion" th:if="${reunion.completada != true and (connectedUserId == miembro.miembroId or (miembro.suplenteId != null and connectedUserId == miembro.suplenteId))}">
                <strong>Confirma assistència:</strong>
                <button th:class="${miembro.asistenciaConfirmada == true } ? activo : inactivo" name="confirmar">Sí</button>
                <button th:class="${miembro.asistenciaConfirmada == false} ? activo : inactivo" name="denegar">No</button>
                <button th:attr="data-miembroid=${miembro.id}, data-suplente=${miembro.suplente}" th:if="${reunion.admiteSuplencia and (connectedUserId == miembro.miembroId or miembro.suplenteId != null and connectedUserId == miembro.suplenteId)}" name="suplente">Gestionar suplent</button>
              </div>
            </li>
          </ul>
        </li>
      </ul>
      <h2 th:if="${not #lists.isEmpty(reunion.documentos)}">Documentació</h2>
      <ul th:if="${not #lists.isEmpty(reunion.documentos)}">
        <li th:each="documento : ${reunion.documentos}"><a th:href="'/goc/rest/reuniones/' + ${reunion.id} + '/documentos/' + ${documento.id} + '/descargar'" th:text="${documento.descripcionAlternativa}">Descripcion documento</a></li>
      </ul>
      <h2 th:if="${not #lists.isEmpty(reunion.puntosOrdenDia)}">Punts de l'ordre del dia</h2>
      <ol th:if="${not #lists.isEmpty(reunion.puntosOrdenDia)}">
        <li th:each="puntoOrdenDia : ${reunion.puntosOrdenDia}">
          <span th:text="${puntoOrdenDia.tituloAlternativo}"></span>
          <div th:if="${puntoOrdenDia.descripcionAlternativa} != null" th:text="'Descripció: ' + ${puntoOrdenDia.descripcionAlternativa}"></div>
          <div th:if="${puntoOrdenDia.deliberacionesAlternativas} != null" th:text="'Deliberacions: ' + ${puntoOrdenDia.deliberacionesAlternativas}"></div>
          <div th:if="${puntoOrdenDia.acuerdosAlternativos} != null" th:text="'Acords: ' + ${puntoOrdenDia.acuerdosAlternativos}"></div>
          <span th:if="${not #lists.isEmpty(puntoOrdenDia.documentos)}">Documentació:</span>
          <ul th:with="documentos=${puntoOrdenDia.documentos}">
            <li th:each="documento : ${documentos}"><a th:href="'/goc/rest/reuniones/' + ${reunion.id} + '/puntosOrdenDia/' + ${puntoOrdenDia.id} + '/documentos/' + ${documento.id} + '/descargar'" th:text="${documento.descripcionAlternativa}">Descripcion documento</a></li>
          </ul>
          <span th:if="${not #lists.isEmpty(puntoOrdenDia.documentosAcuerdos)}">Acords:</span>
          <ul th:with="acuerdos=${puntoOrdenDia.documentosAcuerdos}">
            <li th:each="acuerdo : ${acuerdos}"><a th:href="'/goc/rest/reuniones/' + ${acuerdo.id} + '/puntosOrdenDia/' + ${puntoOrdenDia.id} + '/acuerdos/' + ${acuerdo.id} + '/descargar'" th:text="${acuerdo.descripcionAlternativa}">Descripcion acuerdo</a></li>
          </ul>
          <br />
        </li>
      </ol>

      <h3>Convocant: <span style="font-weight: normal; font-size: 16px;" th:text="${reunion.creadorNombre} + '(' + ${reunion.creadorEmail} + ')'">Info convocante</span></h3>
      <div class="nuevo-suplente" style="display: none;">
        <input type="hidden" name="organoMiembroId" />
        <p class="suplente-actual">Suplent actual: <strong></strong> <button name="borra-suplente">Esborrar suplent</button></p>
        <p>Afegir un suplent:</p>
        <div class="header">
          <input type="text" name="query-persona" /><button name="busca-persona">Cerca</button>
        </div>
        <ul class="resultados">
        </ul>
        <div class="footer">
          <button name="add-suplente">Afegeix suplent</button>
        </div>
      </div>

      <div class="nuevo-comentario" style="display: none;">
        <p>Afegir un comentari:</p>
        <input type="hidden" name="reunionId" th:value="${reunion.id}" />
        <textarea style="width: 100%; height: 240px;"></textarea>
        <button class="post-comentario">Afegeix</button>
      </div>
      <br style="margin-top: 2em;"/>
      <button th:if="${ not reunion.completada and reunion.admiteComentarios and permitirComentarios}" class="add-comentario">Afegir un comentari</button>
      <div th:if="${permitirComentarios}" class="comentarios"></div>
    </div>
    <script src="/goc/js/script.js"></script>
  </body>
</html>
