<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es" xmlns:th="http://www.thymeleaf.org">
  <div th:substituteby="head-es" />
  <body>
    <div class="off-canvas-content" data-off-canvas-content="data-off-canvas-content">
      <div th:substituteby="header-es" />
    </div>
    <main class="columns reunion">
      <div class="row columns">
        <h1 th:text="'Reunión: ' + ${reunion.asunto}" class="title">title</h1>
      </div>
      <div class="row columns">
        <h3 class="title" >Información básica</h3>      
      </div>
      <ul class="contentList detalle row columns">
        <li th:unless="${reunion.fechaSegundaConvocatoria}">
          <div class="tag"><strong>Fecha:</strong></div>
          <div class="value" th:utext="${#dates.format(reunion.fecha, 'dd/MM/yyyy HH:mm')}">valor</div>
        </li>
        <li th:if="${reunion.fechaSegundaConvocatoria}">
          <div class="tag"><strong>Primera convocatoria:</strong></div>
          <div class="value" th:utext="${#dates.format(reunion.fecha, 'dd/MM/yyyy HH:mm')}">valor</div>
        </li>
        <li th:if="${reunion.fechaSegundaConvocatoria}">
          <div class="tag"><strong>Segunda convocatoria:</strong></div>
          <div class="value" th:utext="${#dates.format(reunion.fechaSegundaConvocatoria, 'dd/MM/yyyy HH:mm')}">valor</div>
        </li>
        <li th:if="${reunion.responsableActa}">
          <div class="tag"><strong>Responsable de acta:</strong></div>
          <div class="value" th:utext="${reunion.responsableActa}">valor</div>
        </li>
        <li th:if="${reunion.numeroSesion} != null">
          <div class="tag"><strong>Número de sesión:</strong></div>
          <div class="value" th:utext="${reunion.numeroSesion}">valor</div>
        </li>
        <li th:if="${reunion.ubicacion}">
          <div class="tag"><strong>Lugar:</strong></div>
          <div class="value" th:utext="${reunion.ubicacion}">valor</div>
        </li>
        <li th:if="${reunion.duracion and reunion.duracion > 0}">
          <div class="tag"><strong>Duración:</strong></div>
          <div class="value" th:if="${reunion.duracion <= 480}" th:utext="${reunion.duracion} + ' minutos'">valor</div>
          <div class="value" th:if="${reunion.duracion > 480}">Más de 8 horas</div>
        </li>
        <li th:if="${reunion.descripcion}">
          <div class="tag"><strong>Descripción:</strong></div>
          <div class="value" th:utext="${#strings.replace(reunion.descripcion,'\n','&lt;br&gt;')}">valor</div>
        </li>
        <li th:if="${reunion.acuerdos != null}">
          <div class="tag"><strong>Acuerdos generales:</strong></div>
          <div class="value" th:utext="${#strings.replace(reunion.acuerdos,'\n','&lt;br&gt;')}">valor</div>
        </li>
        <li th:if="${reunion.urlGrabacion != null}">
          <div class="tag"><strong>URL de la reunión:</strong></div>
          <div class="value"><a th:href="${reunion.urlGrabacion}" th:text="${reunion.urlGrabacion}"></a></div>
        </li>
        <li th:if="${reunion.telematica}">
          <div class="tag"><strong>Reunión telemática Instrucciones:</strong></div>
          <div class="value" th:utext="${reunion.telematicaDescripcion}">valor</div>
        </li>
        <li th:if="${reunion.publica}" class="item-publico"><i class="fa fa-eye"></i> <span>PÚBLICA</span></li>
      </ul>
      <div th:if="${not #lists.isEmpty(reunion.puntosOrdenDia)}" class="row columns">
        <h3 class="title">Puntos del orden del día</h3>      
      </div>
      <div th:include="tpl_reunion-puntoordendia-acuerdos-es :: puntosOrdenDia" th:with="puntos=${reunion.puntosOrdenDia},i=0" th:if="${not #lists.isEmpty(reunion.puntosOrdenDia)}"></div>

    </main>
  </body>
</html>
