<!DOCTYPE html>
<html xml:lang="ca" lang="ca" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="comentario">
    <div th:each="comentario : ${comentarios}">
        <div th:if="${i == 0}" class="comentario" th:attr="id='comentario-' + ${comentario.id}, data-comentario-id=${comentario.id}">
            <div class="comentario-cabecera">
                <p class="autor"><strong class="tags-comentarios">Autor</strong>: <span th:text="${comentario.creadorNombre}">Autor</span></p>
            </div>
            <div class="comentario-cuerpo" th:text="${comentario.comentario}">
                comentario
            </div>
            <div>
                <p class="fecha"><strong class="tags-comentarios">Data</strong>: <span th:text="' [' +  ${#dates.format(comentario.fecha, 'dd/MM/yyyy HH:mm')} + ']'"></span></p>
            </div>
            <div>
                <div th:if="${not #lists.isEmpty(comentario.respuestas)}">
                    <a onclick="verRespuestas(this)"
                       class="enlace-ver-respuestas" th:attr="data-punto-id=${puntoOrdenDia.id}, data-comentario-id=${comentario.id}, href='#comentario-' + ${comentario.id}">Veure respostes
                    </a>
                    <a th:attr="href='#comentario-' + ${comentario.id}, data-comentario-id=${comentario.id}, data-punto-id=${puntoOrdenDia.id}"
                       style="display: none" onclick="cerrarRespuestas(this)" class="enlace-ocultar-respuestas" >Amagar respostes</a>
                    <span class="separador-enlaces-comentarios">|</span>
                    <a href="#" onclick="abrirModalComentarioPunto(this)" class="enlace-responder-comentario"
                       th:attr="data-punto-id=${puntoOrdenDia.id}, data-comentario-id=${comentario.id}">Respondre</a>
                </div>
                <div th:unless="${not #lists.isEmpty(comentario.respuestas)}">
                    <a style="display: none;" onclick="verRespuestas(this)"
                       class="enlace-ver-respuestas" th:attr="data-punto-id=${puntoOrdenDia.id}, data-comentario-id=${comentario.id}, href='#comentario-' + ${comentario.id}">Veure respostes</a>
                    <a th:attr="href='#comentario-' + ${comentario.id}, data-comentario-id=${comentario.id}, data-punto-id=${puntoOrdenDia.id}"
                       style="display: none" onclick="cerrarRespuestas(this)" class="enlace-ocultar-respuestas" >Amagar respostes</a>
                    <span style="display: none" class="separador-enlaces-comentarios">|</span>
                    <a href="#" onclick="abrirModalComentarioPunto(this)" class="enlace-responder-comentario"
                       th:attr="data-punto-id=${puntoOrdenDia.id}, data-comentario-id=${comentario.id}">Respondre</a>
                </div>
            </div>
        </div>

        <div th:unless="${i == 0}" class="comentario" th:attr="id='comentario-' + ${comentario.id}, data-comentario-id=${comentario.id}, data-comentario-padre-id=${comentario.comentarioSuperiorId}" th:style="${'margin-left:' + i + 'px'}+ '; display:none;'">
            <div class="comentario-cabecera">
                <p class="autor"><strong>Autor</strong>: <span th:text="${comentario.creadorNombre}">Autor</span></p>
            </div>
            <div class="comentario-cuerpo" th:text="${comentario.comentario}">
                comentario
            </div>
            <div>
                <p class="fecha"><strong>Data</strong>: <span th:text="' [' +  ${#dates.format(comentario.fecha, 'dd/MM/yyyy HH:mm')} + ']'"></span></p>
            </div>
            <div>
                <div th:if="${not #lists.isEmpty(comentario.respuestas)}">
                    <a onclick="verRespuestas(this)"
                       class="enlace-ver-respuestas" th:attr="data-punto-id=${puntoOrdenDia.id}, data-comentario-id=${comentario.id}, href='#comentario-' + ${comentario.id}">Veure respostes</a>
                    <a th:attr="href='#comentario-' + ${comentario.id}, data-comentario-id=${comentario.id}, data-punto-id=${puntoOrdenDia.id}"
                       style="display: none" onclick="cerrarRespuestas(this)" class="enlace-ocultar-respuestas" > Amagar respostes</a>
                    <span class="separador-enlaces-comentarios">|</span>
                    <a href="#" onclick="abrirModalComentarioPunto(this)" class="enlace-responder-comentario"
                       th:attr="data-punto-id=${puntoOrdenDia.id}, data-comentario-id=${comentario.id}">Respondre</a>
                </div>
                <div th:unless="${not #lists.isEmpty(comentario.respuestas)}">
                    <a style="display: none;" onclick="verRespuestas(this)"
                       class="enlace-ver-respuestas" th:attr="data-punto-id=${puntoOrdenDia.id}, data-comentario-id=${comentario.id}, href='#comentario-' + ${comentario.id}">Veure respostes</a>
                    <a th:attr="href='#comentario-' + ${comentario.id}, data-comentario-id=${comentario.id}, data-punto-id=${puntoOrdenDia.id}"
                       style="display: none" onclick="cerrarRespuestas(this)" class="enlace-ocultar-respuestas" >Amagar respostes</a>
                    <span style="display: none" class="separador-enlaces-comentarios">|</span>
                    <a href="#" onclick="abrirModalComentarioPunto(this)" class="enlace-responder-comentario"
                       th:attr="data-punto-id=${puntoOrdenDia.id}, data-comentario-id=${comentario.id}">Respondre</a>
                </div>
            </div>
        </div>
        <div th:include=" ::comentario" th:with="comentarios = ${comentario.respuestas},i=(${i}+25)" th:if="${not #lists.isEmpty(comentario.respuestas)}"></div>
    </div>

</div>
</html>