<!DOCTYPE html>
<html xml:lang="ca" lang="ca" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="puntosOrdenDia">
    <ol class="detalle row columns">
        <li th:each="puntoOrdenDia : ${puntos}" th:style="${'margin-left:' + i + 'em'}">
            <input type="hidden" name="lang" th:value="ca"/>
            <strong class="punto-titulo" th:text="${puntoOrdenDia.titulo}"></strong>&nbsp;
            &nbsp;
            <a th:if="${puntoOrdenDia.urlActaAnterior}"
               class="link" target="_blank"
               th:attr="href=${puntoOrdenDia.urlActaAnterior}">
                <i class="fa fa-external-link"></i></a>
            <div th:if="${puntoOrdenDia.descripcion} != null"
                 th:utext="${#strings.replace(puntoOrdenDia.descripcion,'\n','&lt;br&gt;')}"></div>
            <div th:if="${puntoOrdenDia.deliberaciones} != null and ${reunion.completada}"
                 th:utext="${#strings.replace(puntoOrdenDia.deliberaciones,'\n','&lt;br&gt;')}"></div>
            <div th:if="${puntoOrdenDia.acuerdos} != null"
                 th:utext="${#strings.replace(puntoOrdenDia.acuerdos,'\n','&lt;br&gt;')}"></div>
            <div th:if="${puntoOrdenDia.publico}" class="item-publico"><i class="fa fa-eye"></i> <span>PÚBLICO</span>
            </div>
            <div class="ensemble-resultados" th:if="${puntoOrdenDia.subpuntos} == null">
                <div style="display: none" th:class="'loading-puntos-' + ${puntoOrdenDia.id}">
                    <img th:src="${staticsUrl} + '/img/commons/loading.gif'" alt="loading"/>
                </div>
                <button style="display: none"
                        th:attr="data-reunion-id=${reunion.id}, data-punto-id=${puntoOrdenDia.id}"
                        class="button tiny" name="abrir-votacion"
                        onclick="abrirVotacion(this);">Obrir votació
                </button>
                <button style="display: none"
                        th:attr="data-reunion-id=${reunion.id}, data-punto-id=${puntoOrdenDia.id}"
                        class="button tiny" name="cerrar-votacion"
                        onclick="cerrarVotacion(this);">Tancar votació
                </button>
                <div style="display: none" name="votacion-cerrada"
                     th:attr="data-reunion-id=${reunion.id}, data-punto-id=${puntoOrdenDia.id}">
                    <span>VOTACIÓ NO OBERTA</span>
                </div>
                <div style="display: none" th:class="'buttons-puntos-' + ${puntoOrdenDia.id}">
                    <input type="hidden" name="puntoOrdenDiaId" th:value="${puntoOrdenDia.id}"/>
                    <input type="button" th:attr="data-reunion-id=${reunion.id}, data-punto-id=${puntoOrdenDia.id}"
                           name="FAVOR"
                           class="button success tiny" value="Vot a favor" onclick="votarAFavorPunto(this);"/>
                    <input type="button" th:attr="data-reunion-id=${reunion.id}, data-punto-id=${puntoOrdenDia.id}"
                           name="CONTRA"
                           class="button alert tiny" value="Vot en contra" onclick="votarEnContraPunto(this);"/>
                    <input type="button" th:attr="data-reunion-id=${reunion.id}, data-punto-id=${puntoOrdenDia.id}"
                           name="ABSTENCION"
                           class="button tiny abstencion-button" value="Abstenció"
                           onclick="votarAbstencionPunto(this);"/>
                </div>
                <div class="space">
                    &nbsp
                </div>
                <div>Resultats:</div>
                <div>
                    <div th:name="${puntoOrdenDia.id}" class="votos-prov medium-6 large-6 columns">
                    </div>
                    <button th:if="${puntoOrdenDia.votoPublico}"
                            th:attr="data-reunion-id=${reunion.id}, data-punto-id=${puntoOrdenDia.id}"
                            class="button tiny" name="votos-provisionales"
                            onclick="resultadosProvisionalesPunto(this);">Votació
                        provisional
                    </button>
                </div>
                <div class="modal-votos-provisionales" th:id="modal-votos-provisionales">
                </div>
            </div>

            <div th:include="::puntosOrdenDia" th:with="puntos = ${puntoOrdenDia.subpuntos},i=(${i}+2)"></div>
        </li>
    </ol>
</div>

</html>
