<!DOCTYPE html>
<html xml:lang="ca" lang="ca" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="puntosOrdenDia">
    <ol class="detalle row columns">
        <li th:each="puntoOrdenDia : ${puntos}" th:style="${'margin-left:' + i + 'em'}">
            <strong class="punto-titulo" th:text="${puntoOrdenDia.titulo}"></strong></strong>&nbsp;&nbsp;<a th:if="${puntoOrdenDia.urlActaAnterior}" class="link" target="_blank" th:attr="href=${puntoOrdenDia.urlActaAnterior}"><i class="fa fa-external-link"></i></a>
            <small th:if="${not #lists.isEmpty(puntoOrdenDia.comentarios) and reunion.admiteComentarios}"><a class="enlace-ver-comentarios" onclick="verComentarios(this)" th:attr="data-punto-id=${puntoOrdenDia.id},href='#comentarios-' + ${puntoOrdenDia.id}">Veure comentaris</a></small>
            <small th:unless="${not #lists.isEmpty(puntoOrdenDia.comentarios) and reunion.admiteComentarios}"><a style="display: none;" class="enlace-ver-comentarios" onclick="verComentarios(this)" th:attr="data-punto-id=${puntoOrdenDia.id},href='#comentarios-' + ${puntoOrdenDia.id}">Veure comentaris</a></small>
            <small><a href="#" style="display: none;" class="enlace-ocultar-comentarios" onclick="cerrarComentarios(this)" th:attr="data-punto-id=${puntoOrdenDia.id}">Amagar comentaris</a></small>
            <div th:if="${puntoOrdenDia.descripcion} != null"
                 th:utext="${#strings.replace(puntoOrdenDia.descripcion,'\n','&lt;br&gt;')}"></div>
            <div th:if="${puntoOrdenDia.deliberaciones} != null and ${reunion.completada}"
                 th:utext="${#strings.replace(puntoOrdenDia.deliberaciones,'\n','&lt;br&gt;')}"></div>
            <div th:if="${puntoOrdenDia.acuerdos} != null"
                 th:utext="${#strings.replace(puntoOrdenDia.acuerdos,'\n','&lt;br&gt;')}"></div>
            <div th:if="${puntoOrdenDia.publico}" class="item-publico"><i class="fa fa-eye"></i> <span>PÚBLIC</span>
            </div>
            <ul class="contentList" style="margin-top:0.6rem;" th:with="documentos=${puntoOrdenDia.documentos}">
                <li th:each="documento : ${documentos}">
                    <i class="fa fa-file-o"></i>
                    <a th:href="${appContext} + '/rest/reuniones/' + ${reunion.id} + '/puntosOrdenDia/' + ${puntoOrdenDia.id} + '/documentos/' + ${documento.id} + '/descargar'"
                       th:text="${documento.descripcion}">Descripcion documento</a>
                    <small th:text="' [' +  ${#dates.format(documento.fechaAdicion, 'dd/MM/yyyy HH:mm')} + ']'"></small>
                    <small th:if="${puntoOrdenDia.publico and documento.publico}" class="item-publico"><i
                            class="fa fa-eye"></i> <span>PÚBLIC</span></small>
                </li>
            </ul>
            <div th:if="${puntoOrdenDia.subpuntos} == null and ${reunion.hasVotacion}">
                <input type="hidden" name="puntoOrdenDiaId" th:value="${puntoOrdenDia.id}"/>
                <div th:name="${puntoOrdenDia.id}" class="votos-prov medium-6 large-6 columns">
                </div>
            </div>
            <div th:if="${reunion.completada != true}">
                <input th:if="${permitirSubirDocumentos}" th:attr="data-target='panel-form-' + ${puntoOrdenDia.id}" type="button" class="button tiny" value="Afegir document" onclick="mostrarFomularioSubirDocumento(this);"/>
                <input th:if="${reunion.admiteComentarios}" type="button" th:attr="data-reunion-id=${reunion.id}, data-punto-id=${puntoOrdenDia.id}" class="button tiny comentario-button" value="Afegir comentari" onclick="abrirModalComentarioPunto(this);"/>
            </div>
            <div th:attr="id='panel-form-' + ${puntoOrdenDia.id}" style="display: none; width: 50%">
                <form class="form-subida-documento-punto-orden-dia" th:if="${permitirSubirDocumentos}" th:attr="id='form-' + ${puntoOrdenDia.id}, action=${appContext} + '/rest/reuniones/'+ ${reunion.id} + '/puntosOrdenDia/' + ${puntoOrdenDia.id} + '/documentos'">
                    <!--<input type="file" name="archivo" onchange="eliminarError(this);" />-->
                    <div class="box">
                        <input type="file" name="archivo" th:attr="id='input-' + ${puntoOrdenDia.id}" class="inputfile inputfile-label-strong" data-multiple-caption="{count} files selected" onchange="mostrarNombre(this);" />
                        <label th:attr="for='input-' + ${puntoOrdenDia.id}"><span></span> <strong><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> seleccionar arxiu&hellip;</strong></label>
                    </div>
                    <input type="text" name="descripcion" th:attr="placeholder='Descripción (' + ${mainLanguageDescription} + ')'" onkeyup="eliminarError(this);" />
                    <input th:if="alternativeLanguage" type="text" name="descripcionAlternativa" th:attr="placeholder='Descripción (' + ${alternativeLanguageDescription} + ')'"/>
                    <input type="button" class="button" value="Subir documento" onclick="subirDocumentoPuntoOrdenDia(this);"/>
                </form>
            </div>
            <strong th:if="${not #lists.isEmpty(puntoOrdenDia.documentosAcuerdos)} and ${reunion.completada}">Acords:</strong>
            <strong th:if="${not #lists.isEmpty(puntoOrdenDia.documentosAcuerdos)} and not ${reunion.completada}">Proposta
                d'acords:</strong>
            <ul class="contentList" th:with="acuerdos=${puntoOrdenDia.documentosAcuerdos}">
                <li th:each="acuerdo : ${acuerdos}">
                    <i class="fa fa-file-o"></i>
                    <a th:if="${puntoOrdenDia.urlActa}" th:href="${puntoOrdenDia.urlActa}" th:text="${acuerdo.descripcion}">Descripcion acuerdo</a>
                    <a th:unless="${puntoOrdenDia.urlActa}" th:href="${appContext} + '/rest/reuniones/' + ${reunion.id} + '/puntosOrdenDia/' + ${puntoOrdenDia.id} + '/acuerdos/' + ${acuerdo.id} + '/descargar'"
                       th:text="${acuerdo.descripcion}">Descripcion acuerdo</a>
                    <small th:text="' [' +  ${#dates.format(acuerdo.fechaAdicion, 'dd/MM/yyyy HH:mm')} + ']'"></small>
                    <small th:if="${puntoOrdenDia.publico and acuerdo.publico}" class="item-publico"><i
                            class="fa fa-eye"></i> <span>PÚBLIC</span></small>
                </li>
            </ul>
            <strong th:if="${not #lists.isEmpty(puntoOrdenDia.descriptores)}">Descriptors:</strong>
            <ul class="contentList" th:with="descriptores=${puntoOrdenDia.descriptores}">
                <li th:each="descriptor : ${descriptores}">
                    <span th:text="${descriptor.descriptorNombre}">Nom descriptor</span>
                    :
                    <span th:text="${descriptor.claveNombre}">Nom clau</span>
                </li>
            </ul>

            <div th:if="${reunion.admiteComentarios}" id="comentarios-" th:attr="id='comentarios-' + ${puntoOrdenDia.id}" style="display:none">
                <strong class="tags-comentarios">Comentaris:</strong>
                <div th:include="tpl-punto-comentario-ca ::comentario" th:with="comentarios = ${puntoOrdenDia.comentarios},i=0"></div>
            </div>

            <div th:include="::puntosOrdenDia" th:with="puntos = ${puntoOrdenDia.subpuntos},i=(${i}+2)"></div>
        </li>
    </ol>
</div>
</html>
