<!DOCTYPE html>
<html xml:lang="ca" lang="ca" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="puntosOrdenDia">
    <ol th:if="${not #lists.isEmpty(reunion.puntosOrdenDia)}" class="detalle row columns">
        <li th:each="puntoOrdenDia : ${puntos}" th:style="${'margin-left:' + i + 'em'}">
            <strong th:text="${puntoOrdenDia.titulo}"></strong>
            <div th:if="${puntoOrdenDia.descripcion} != null" th:utext="${#strings.replace(puntoOrdenDia.descripcion,'\n','&lt;br&gt;')}"></div>
            <div th:if="${puntoOrdenDia.deliberaciones} != null" th:utext="${#strings.replace(puntoOrdenDia.deliberaciones,'\n','&lt;br&gt;')}"></div>
            <div th:if="${puntoOrdenDia.acuerdos} != null" th:utext="${#strings.replace(puntoOrdenDia.acuerdos,'\n','&lt;br&gt;')}"></div>
            <div th:if="${puntoOrdenDia.publico}" class="item-publico"><i class="fa fa-eye"></i> <span>PÚBLIC</span></div>
            <div th:if="${puntoOrdenDia.acuerdos} != null">
            <span>
              <a th:if="${puntoOrdenDia.urlActa} and ${mostrarEnlaceCertificados}" th:href="${puntoOrdenDia.urlActa}">Certificat</a>
              <a th:if="${puntoOrdenDia.urlActa == null} and ${mostrarEnlaceCertificados}" th:href="${appContext} + '/rest/publicacion/reuniones/' + ${reunion.id} + '/acuerdos/' + ${puntoOrdenDia.id} + '?lang=' + ${applang}">Certificat</a>
            </span>
            </div>
            <br/>
            <div th:include="::puntosOrdenDia" th:with="puntos = ${puntoOrdenDia.subpuntos},i=(${i}+2)"></div>
        </li>
    </ol>
</div>
</html>