<!DOCTYPE html>
<html xml:lang="ca" lang="ca" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="puntosOrdenDia">
    <fieldset class="fieldset" th:each="puntoDia : ${puntos}" th:if="${puntoDia.publico}">
        <legend th:text="${puntoDia.titulo}"></legend>
        <div th:if="${puntoDia.acuerdos}" th:utext="${#strings.replace(puntoDia.acuerdos,'\n','&lt;br&gt;')}"></div>
        <div th:with="acuerdos=${puntoDia.documentosAcuerdos}" th:remove="tag">
            <div th:each="acuerdo : ${acuerdos}">
                <div th:if="${acuerdo.publico == true}">
                    <i class="fa fa-file-o"></i>
                    <a th:href="${appContext} + '/rest/reuniones/' + ${acuerdo.id} + '/puntosOrdenDia/' + ${puntoDia.id} + '/acuerdos/' + ${acuerdo.id} + '/descargar'" th:text="${acuerdo.descripcion}">Adjunt</a>
                    <small th:text="' [' +  ${#dates.format(acuerdo.fechaAdicion, 'dd/MM/YYYY HH:mm')} + ']'"></small>
                </div>
            </div>
        </div>
        <div>
            <strong>Documents adjunts:</strong>
        </div>

        <div th:with="documentos=${puntoDia.documentos}" th:remove="tag">
            <div th:each="documento : ${documentos}">
                <div th:if="${documento.publico == true}">
                    <i class="fa fa-file-o"></i>
                    <a th:href="${appContext} + '/rest/reuniones/' + ${documento.id} + '/puntosOrdenDia/' + ${puntoDia.id} + '/documentos/' + ${documento.id} + '/descargar'" th:text="${documento.descripcion}">Descripcion documento</a>
                    <small th:text="' [' +  ${#dates.format(documento.fechaAdicion, 'dd/MM/YYYY HH:mm')} + ']'"></small>
                </div>
            </div>
        </div>
        <a th:if="${puntoDia.urlActa != null and puntoDia.acuerdos != null and #strings.length(puntoDia.acuerdos) > 0}" th:href="${puntoDia.urlActa}">Certificat</a>
        <div th:include="::puntosOrdenDia" th:with="puntos = ${puntoDia.subpuntos},i=(${i}+2)"></div>
    </fieldset>
</div>
</html>