body {
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    color: #555;
}

#landing-loading {
    margin: 200px auto;
    width: 200px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: #222;
}

.comentario {
    padding: .5em 2em;
    background: #EFEFEF;
    border-bottom: 3px solid #CCC;
    margin-bottom: 1em;
}

.delete-comentario {
    float: right;
    padding-right: 1em;
    padding-top: 0.8em;
}

.inactivo {
    background: #EEE;
}

.activo {
    background: yellow;
}

.nuevo-suplente .header {
    width: 100%;
}

.nuevo-suplente .header input[type=text] {
    width: 320px;
    margin-right: 1em;
}

.nuevo-suplente .footer {
    text-align: right;
    margin-top: 1em;
}

.nuevo-suplente .footer button {
    display: none;
}

.nuevo-suplente p.suplente-actual {
    display: none;
    padding-bottom: 1em;
    border-bottom: 1px solid #CCC;
}

.nuevo-suplente ul li {
    list-style: none;
}

ul.lang {
    padding: 0;
    margin: 0;
    color: white;
    background: url(//e-ujier.uji.es/img/portal2/imagenes/cabecera_1px.png) repeat-x scroll left top transparent;
    height: 70px;
    padding-top: 35px;
}

ul.lang li {
    list-style: none;
    display: inline-block;
    margin-right: .5em;
}

ul.lang li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.header {
    height: 120px;
    margin-bottom: 2em;
    line-height: 100px;
    vertical-align: middle;
}

.header img {
    float: left;
    margin-right: 1em;
}

.header h1 {
    margin: .5em 0 0 0;
    float: left;
}

h1 {
    font-size: 2.1em !important;
    font-weight: normal;
}

.topmenu {
    margin-top: 1em;
    float: right;
}

.content {
    width: 80%;
    min-width: 800px;
    margin: auto;
}

.topmenu ul {
    margin: 0;
    padding: 0;
}

.topmenu ul li {
    display: inline-block;
    padding-right: 1em;
    list-style: none;
}

.topmenu ul li a {
    font-weight: normal;
    text-decoration: none;
    color: #333;
}

.topmenu ul li a:hover {
    font-weight: normal;
    text-decoration: underline;
    color: #333;
}

.header-center {
    background: url(//e-ujier.uji.es/img/portal2/imagenes/cabecera_1px.png) repeat-x scroll left top transparent;
    height: 70px;
}

.header-logo {
    float: left;
    margin: 10px 16px;
}

.header-title {
    float:left;
    margin-top:24px;
}

.header-title-def {
    color: #CDCCE5;
    font-family: Helvetica,Arial,sans-serif;
    font-size:2em;
}

.header-right {
    background: url(//e-ujier.uji.es/img/portal2/imagenes/cabecera_1px.png) repeat-x scroll left top transparent;
    height: 70px;
    padding-top: 35px;
}

.header-right-title {
    color: #CDCCE5;
    font-family: Helvetica,Arial,sans-serif;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: inherit;
}

i.fa-caret-right, .fa-caret-down{
    padding-left: 16px;
    font-size: 1.4em !important;
}

i.fa-angle-double-left, i.fa-angle-double-right {
    padding: 8px;
    font-size: 1.4em !important;
}

div.collapsed {
    display: none;
}

div.expanded {
    display: initial;
}

div.pagination-centered {
    justify-content: center;
    display: inline-flex;
    line-height: 1.6em;
    vertical-align: middle;
    width: 100%;
    margin-top: 1.6em;
}

div.pagination {
    margin-right: 1em;
    margin-left: 1em;
}

div.pagination a {
    display: inline-flex;
    align-items: center;
    text-decoration: none
}

div.reunion-titulo {
    display: inline-block;
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 0.8em;
}

div.reunion > div > div {
    padding-left: 1.6em;
}


/*Para forzar un scrollbar horizontal en el componente multiselector-search de extjs, debido a un bug que no permite redimensionar la ventana*/
div[id^="multiselector-search"][id$="body"] {
    overflow-x: auto;
}

div[id^="multiselector-search"][id$="body"] div[id^="tableview"]{
    overflow-x: auto !important;
}

div[id^="multiselector-search"][id$="body"] div[id^="tableview"] td[role^="gridcell"]{
    width: 1000px !important;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/


@media only screen and (max-device-width: 480px) {
    .list li {
        border-bottom: 1px solid #CCCCCC;
        padding-bottom: 20px;
        margin-top: 20px;
        border-left: 3px solid #000;
        padding-left: 20px;
        list-style: none;
    }

    .list ul {
        padding-left: 0;
    }

    li strong, .list li span.documentacion, .list li span.acta, .list li span.titulo, .list li span.certificado {
        display: block;
    }

    .separador {
        display: none;
    }

    li strong, .list li span.titulo {
        font-size: 2em;
    }

    .list li span.documentacion a, .list li span.acta a, .list li span.certificado a {
        display: block;
    }

    .list li span.documentacion, .list li span.acta, .list li span.certificado {
        border-top: 1px solid #FFFFFF;
        background-color: #eee;
    }

    .header img {
        width: 200px;
    }

    .header h1 {
        font-size: 4em;
        font-weight: normal;
    }

    .list {
        clear: both;
    }

    .topmenu {
        top: 10px;
        right: 10px;
        position: absolute;
    }

    .topmenu a {
        font-size: 3em;
    }
}